Repository microsoft/CSS-Exchange, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/css-exchange-admins, @tweekerz, @Batre-MSFT, @ninobb, @nasir1786

.github/CODEOWNERS:

# Default owners
*   @microsoft/css-exchange-admins

# Rob Whaley owns these
/Hybrid/                                @tweekerz @microsoft/css-exchange-admins
/Retention/                             @tweekerz @microsoft/css-exchange-admins
/docs/Security/Extended-Protection.md   @tweekerz @microsoft/css-exchange-admins

# Supportability owns this doc
/docs/Emerging-Issues.md    @Batre-MSFT @tweekerz @ninobb @nasir1786 @microsoft/css-exchange-admins

Improve Get-IISModules function
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-ExchangeServerIISSettings.ps1
  Shared/IISFunctions/Get-IISModules.ps1
  Shared/Tests/Data/E16_applicationHost_Default.config
  Shared/Tests/Data/E16_applicationHost_Mixed.config
  Shared/Tests/Data/E19_applicationHost_Default.config
  Shared/Tests/Data/acs_Test-SignedBy3rdParty.xml
  Shared/Tests/Data/acs_exppw.xml
  Shared/Tests/Data/acs_kerbauth.xml
  Shared/Tests/Get-IISModules.Tests.ps1
Owners: @microsoft/css-exchange-admins

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @microsoft/css-exchange-admins

Call custom VersionsUrl fixed
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
Owners: @microsoft/css-exchange-admins

Changes from the last Requests
  Admin/Test-AMSI.ps1
Owners: @microsoft/css-exchange-admins

Deployed fe832bca with MkDocs version: 1.4.3
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Deployed 39b0e129 with MkDocs version: 1.4.3
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Remove PSAvoidUsingWMICmdlet
  Admin/Test-AMSI.ps1
Owners: @microsoft/css-exchange-admins

Added ComponentName on filter
  Admin/Test-AMSI.ps1
Owners: @microsoft/css-exchange-admins

Change Version veritication & fix management tools
  Admin/Test-AMSI.ps1
Owners: @microsoft/css-exchange-admins

update dumpster script
  PublicFolders/ValidateEXOPFDumpster.ps1
Owners: @microsoft/css-exchange-admins

modify script to comply with CSpellCheck
  PublicFolders/ValidateEXOPFDumpster.ps1
Owners: @microsoft/css-exchange-admins

add logging under new function
  PublicFolders/ValidateEXOPFDumpster.ps1
Owners: @microsoft/css-exchange-admins

Monitor catch errors when run locally - Invoke-ScriptBlockHandler
  Shared/Invoke-ScriptBlockHandler.ps1
Owners: @microsoft/css-exchange-admins

Handle multiple errors that occur inside Invoke-ScriptBlockHandler before bailout
  Shared/Invoke-ScriptBlockHandler.ps1
Owners: @microsoft/css-exchange-admins

Use Trim when using Get-Content for config files
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-ExchangeAppPoolsInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-ExchangeServerIISSettings.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-IISWebApplication.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-IISWebSite.ps1
  Shared/IISFunctions/Get-ApplicationHostConfig.ps1
Owners: @microsoft/css-exchange-admins

Update pester test to make sure that Trim is always called
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/IIS/ClientAccess/ecp/web.config
Owners: @microsoft/css-exchange-admins

Increase count because we display the description in the catch block now
  Shared/Tests/Invoke-ScriptBlockHandler.Tests.ps1
Owners: @microsoft/css-exchange-admins

Always run Invoke-ErrorMonitoring for HC pester testing
  Diagnostics/HealthChecker/Tests/HealthCheckerTests.ImportCode.NotPublished.ps1
Owners: @microsoft/css-exchange-admins

Rename Pester Test File
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Scenarios2.Tests.ps1
Owners: @microsoft/css-exchange-admins

Handle bad IIS config files
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerFrequentConfigurationIssues.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-ExchangeServerIISSettings.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-IISWebApplication.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-IISWebSite.ps1
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/IIS/BadApplicationHost.config
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/IIS/DefaultWebSite_web1.config
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Scenarios.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Scenarios2.Tests.ps1
Owners: @microsoft/css-exchange-admins

Deployed 76e27551 with MkDocs version: 1.4.3
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Change Ex verification and added Accept set check.
  Admin/Test-AMSI.ps1
Owners: @microsoft/css-exchange-admins

Force space for tabs regardless of what is in file detection
  .vscode/settings.json
Owners: @microsoft/css-exchange-admins

No support for ExPerfAnalyzer with PS Core
  Performance/ExPerfAnalyzer.ps1
Owners: @microsoft/css-exchange-admins

Deployed da94021c with MkDocs version: 1.4.3
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Exchange 2013 no longer considered secure
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityVulnerability.ps1
  Shared/Get-ExchangeBuildVersionInformation.ps1
Owners: @microsoft/css-exchange-admins

Deployed 02137ea4 with MkDocs version: 1.4.3
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Fix for EP PF issue added
  docs/Security/Extended-Protection.md
Owners: @tweekerz, @microsoft/css-exchange-admins

June 23 SU added to HC
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerExchangeInformation.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityCveCheck.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Main.Tests.ps1
  Shared/Get-ExchangeBuildVersionInformation.ps1
Owners: @microsoft/css-exchange-admins

Deployed 2067dab4 with MkDocs version: 1.4.3
  Security/Extended-Protection/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Icon changed to success
  docs/Security/Extended-Protection.md
Owners: @tweekerz, @microsoft/css-exchange-admins

Deployed 412b2ae7 with MkDocs version: 1.4.3
  Security/Extended-Protection/index.html
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Fix issues with Exchange 2013 latest SU detection
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerExchangeInformation.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityVulnerability.ps1
Owners: @microsoft/css-exchange-admins

Deployed 7d156615 with MkDocs version: 1.4.3
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Update Emerging-Issues.md
  docs/Emerging-Issues.md
Owners: @Batre-MSFT, @tweekerz, @ninobb, @nasir1786, @microsoft/css-exchange-admins

Deployed e0ddf66c with MkDocs version: 1.4.3
  Emerging-Issues/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

modify script
  PublicFolders/ValidateEXOPFDumpster.ps1
Owners: @microsoft/css-exchange-admins

add Exit under Quit function
  PublicFolders/ValidateEXOPFDumpster.ps1
Owners: @microsoft/css-exchange-admins

modify exit
  PublicFolders/ValidateEXOPFDumpster.ps1
Owners: @microsoft/css-exchange-admins

Changed string comparison.
  Admin/Test-AMSI.ps1
Owners: @microsoft/css-exchange-admins
