Repository microsoft/CSS-Exchange, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/css-exchange-admins, @tweekerz, @Batre-MSFT, @ninobb, @nasir1786

Moved a Write-Host into a function instead being done before calling it
  Search/Troubleshoot-ModernSearch.ps1
  Search/Troubleshoot-ModernSearch/Exchange/Get-MailboxInformation.ps1
Owners: @microsoft/css-exchange-admins

Clean up output with dash lines
  Search/Troubleshoot-ModernSearch/Write/WriteHelpers.ps1
Owners: @microsoft/css-exchange-admins

Break out logging to 2 different logs
  Search/Troubleshoot-ModernSearch.ps1
  Search/Troubleshoot-ModernSearch/Write/Write-LogInformation.ps1
Owners: @microsoft/css-exchange-admins

Compress the logs and exported data
  Search/Troubleshoot-ModernSearch.ps1
  Search/Troubleshoot-ModernSearch/Write/Write-DataExport.ps1
  Search/Troubleshoot-ModernSearch/Write/Write-LogsToZip.ps1
Owners: @microsoft/css-exchange-admins

Additional parameters for Get-MailboxFolderStatistics to include
  Search/Troubleshoot-ModernSearch/Exchange/Get-MailboxInformation.ps1
Owners: @microsoft/css-exchange-admins

Update docs to state not to delete watermark
  docs/Setup/SetupAssist/InstallWatermark.md
Owners: @microsoft/css-exchange-admins

Deployed 2952e191 with MkDocs version: 1.4.3
  Setup/SetupAssist/InstallWatermark/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Include DisablePreservation registry key in HC
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerFrequentConfigurationIssues.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeRegistryValues.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E15.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.MockedCalls.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthCheckerTest.CommonMocks.NotPublished.ps1
Owners: @microsoft/css-exchange-admins

Deployed 7fd4740a with MkDocs version: 1.4.3
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

May CU13 for Exchange 2019
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Main.Tests.ps1
  Shared/Get-ExchangeBuildVersionInformation.ps1
  Shared/Tests/Get-ExchangeBuildVersionInformation.Tests.ps1
Owners: @microsoft/css-exchange-admins

Deployed e81e0f72 with MkDocs version: 1.4.3
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Add pester testing for latest SU logic
  Shared/Tests/Get-ExchangeBuildVersionInformation.Tests.ps1
Owners: @microsoft/css-exchange-admins

Made CU13 latest SU as well
  Shared/Get-ExchangeBuildVersionInformation.ps1
Owners: @microsoft/css-exchange-admins

Deployed cc669568 with MkDocs version: 1.4.3
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Call out 2013 no longer has SU fixes coming
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerExchangeInformation.ps1
Owners: @microsoft/css-exchange-admins

Deployed 27251052 with MkDocs version: 1.4.3
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Include Protocols name for Cipher Suites
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecuritySettings.ps1
  Shared/TLS/Get-TlsCipherSuiteInformation.ps1
Owners: @microsoft/css-exchange-admins

Update word dictionary for DTLS
  .build/cspell-words.txt
Owners: @microsoft/css-exchange-admins

Remove DTLS 1 for Open SSL
  Shared/TLS/Get-TlsCipherSuiteInformation.ps1
Owners: @microsoft/css-exchange-admins

Avoid mailboxes that don't have items to be indexed
  Search/Troubleshoot-ModernSearch.ps1
Owners: @microsoft/css-exchange-admins

View the entire forest always
  Search/Troubleshoot-ModernSearch.ps1
Owners: @microsoft/css-exchange-admins

Include debug logging for display name & folder id
  Search/Troubleshoot-ModernSearch/StoreQuery/Get-StoreQueryFolderInformation.ps1
Owners: @microsoft/css-exchange-admins

Deployed fc71f856 with MkDocs version: 1.4.3
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

CSS-Exchange customizations
  README.md
  docs/images/MicrosoftLogo.svg
  mkdocs.yml
Owners: @microsoft/css-exchange-admins

Improve WhatIf handling
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/Add-ADUserToLocalGroup.ps1
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/Build-ExchangeAuthCertificateManagementAccount.ps1
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/Copy-ScriptToExchangeDirectory.ps1
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/Export-ExchangeAuthCertificate.ps1
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/New-AuthCertificateManagementAccount.ps1
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/New-AuthCertificateMonitoringLogFolder.ps1
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/New-ExchangeAuthCertificate.ps1
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/Register-AuthCertificateRenewalTask.ps1
  Admin/MonitorExchangeAuthCertificate/DataCollection/Get-ExchangeAuthCertificateStatus.ps1
  Admin/MonitorExchangeAuthCertificate/MonitorExchangeAuthCertificate.ps1
Owners: @microsoft/css-exchange-admins

Extended Protection known issue added
  docs/Security/Extended-Protection.md
  mkdocs.yml
Owners: @tweekerz, @microsoft/css-exchange-admins

Known issue with EP and PF added
  docs/Security/Extended-Protection.md
  mkdocs.yml
Owners: @tweekerz, @microsoft/css-exchange-admins

Added control in case other AV
  Setup/SetExchAVExclusions/Set-ExchAVExclusions.ps1
Owners: @microsoft/css-exchange-admins

Minor change on the wording
  docs/Security/Extended-Protection.md
Owners: @tweekerz, @microsoft/css-exchange-admins

Revert "CSS-Exchange download statistics added and logo changed"
  README.md
  docs/images/MicrosoftLogo.svg
  mkdocs.yml
Owners: @microsoft/css-exchange-admins

Remove references to IsExcludedFromServingHierarchy
  docs/Security/Extended-Protection.md
Owners: @tweekerz, @microsoft/css-exchange-admins

Added control in case 3rd party AV
  Setup/SetExchAVExclusions/Set-ExchAVExclusions.ps1
Owners: @microsoft/css-exchange-admins

Replace logo and add download counter
  README.md
  docs/Images/MicrosoftLogo.svg
  mkdocs.yml
Owners: @microsoft/css-exchange-admins

EP docs Formatting adjusted
  docs/Security/Extended-Protection.md
Owners: @tweekerz, @microsoft/css-exchange-admins

Deployed 79078a7c with MkDocs version: 1.4.3
  Security/Extended-Protection/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Another minor formatting adjustment
  docs/Security/Extended-Protection.md
Owners: @tweekerz, @microsoft/css-exchange-admins

Deployed 9d0d4deb with MkDocs version: 1.4.3
  Security/Extended-Protection/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Another docs format adjustment
  docs/Security/CVE-2023-23397/index.md
  docs/Security/Extended-Protection.md
Owners: @microsoft/css-exchange-admins, @tweekerz

Deployed 8cf88829 with MkDocs version: 1.4.3
  Security/CVE-2023-23397/index.html
  Security/Extended-Protection/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Detect if mailbox is full as that blocks indexing
  Search/Troubleshoot-ModernSearch/Write/Write-BasicMailboxInformation.ps1
Owners: @microsoft/css-exchange-admins

.github/CODEOWNERS:

# Default owners
*   @microsoft/css-exchange-admins

# Rob Whaley owns these
/Hybrid/                                @tweekerz @microsoft/css-exchange-admins
/Retention/                             @tweekerz @microsoft/css-exchange-admins
/docs/Security/Extended-Protection.md   @tweekerz @microsoft/css-exchange-admins

# Supportability owns this doc
/docs/Emerging-Issues.md    @Batre-MSFT @tweekerz @ninobb @nasir1786 @microsoft/css-exchange-admins
