Repository microsoft/CSS-Exchange, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/css-exchange-admins, @tweekerz, @Batre-MSFT, @ninobb, @nasir1786

.github/CODEOWNERS:

# Default owners
*   @microsoft/css-exchange-admins

# Rob Whaley owns these
/Hybrid/                                @tweekerz @microsoft/css-exchange-admins
/Retention/                             @tweekerz @microsoft/css-exchange-admins
/docs/Security/Extended-Protection.md   @tweekerz @microsoft/css-exchange-admins

# Supportability owns this doc
/docs/Emerging-Issues.md    @Batre-MSFT @tweekerz @ninobb @nasir1786 @microsoft/css-exchange-admins

Using Shared Logger and Error Code
  Setup/FixInstallerCache/FixInstallerCache.ps1
  Setup/FixInstallerCache/WriteFunctions.ps1
Owners: @microsoft/css-exchange-admins

Create Invoke-WriteDebugErrorsThatOccurred
  Shared/ErrorMonitorFunctions.ps1
Owners: @microsoft/css-exchange-admins

Deployed b64269c9 with MkDocs version: 1.4.2
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Deployed adef0840 with MkDocs version: 1.4.2
  Setup/Set-ExchAVExclusions/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Created Get-TokenGroupsGlobalAndUniversal
  Shared/ActiveDirectoryFunctions/Get-TokenGroupsGlobalAndUniversal.ps1
Owners: @microsoft/css-exchange-admins

Check for Token Group if user needs to log in and out of the machine.
  Setup/SetupAssist/Checks/UserContext/Test-UserGroupMemberOf.ps1
Owners: @microsoft/css-exchange-admins

Get server name from database object rather than mailbox object
  PublicFolders/SourceSideValidations/Get-FolderData.ps1
  PublicFolders/SourceSideValidations/Get-Statistics.ps1
Owners: @microsoft/css-exchange-admins

Deployed 32863c8d with MkDocs version: 1.4.2
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Query Exchange websites by default
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-ExchangeServerIISSettings.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-IISWebSite.ps1
  Diagnostics/HealthChecker/Tests/DataCollection/E15/Exchange/GetExchangeProtocolContainer.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E15/Exchange/GetExchangeWebSitesFromAd.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E16/Exchange/GetExchangeProtocolContainer.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E16/Exchange/GetExchangeWebSitesFromAd.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/GetExchangeProtocolContainer.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/GetExchangeWebSitesFromAd.xml
  Diagnostics/HealthChecker/Tests/HealthCheckerTest.CommonMocks.NotPublished.ps1
  Shared/ActiveDirectoryFunctions/Get-ExchangeProtocolContainer.ps1
  Shared/ActiveDirectoryFunctions/Get-ExchangeWebSitesFromAd.ps1
Owners: @microsoft/css-exchange-admins

Deployed 91b4f7fb with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Add known issue regarding ServiceControl.ps1 Reverse
  Setup/SetupLogReviewer/Checks/ErrorContext/Test-ServiceControlReverse.ps1
  Setup/SetupLogReviewer/Checks/FindContext/Test-KnownIssuesByErrors.ps1
Owners: @microsoft/css-exchange-admins

Update pester testing for ServiceControl.ps1 Reverse
  Setup/Tests/KnownIssues/ExchangeSetup_ServiceControl_Reverse.log
  Setup/Tests/SetupLogReviewer.Tests.ps1
Owners: @microsoft/css-exchange-admins

Syntax for orphaned folder fix must specify FolderIdentity
  PublicFolders/SourceSideValidations/Tests/MailEnabledFolder/Write-TestMailEnabledFolderResult.ps1
Owners: @microsoft/css-exchange-admins

Deployed d930e3f9 with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Deployed 466f22d6 with MkDocs version: 1.4.2
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Improved Confirm-ExchangeShell to use Get-EventLogLevel instead
  Admin/SetUnifiedContentPath/SetUnifiedContentPath.ps1
  Databases/VSSTester/VSSTester.ps1
  Diagnostics/AVTester/Test-ExchAVExclusions.ps1
  Diagnostics/ExchangeLogCollector/ExchangeLogCollector.ps1
  Diagnostics/HealthChecker/Helpers/Invoke-ScriptLogFileLocation.ps1
  Security/src/ExchangeExtendedProtectionManagement/ExchangeExtendedProtectionManagement.ps1
  Setup/SetExchAVExclusions/Set-ExchAVExclusions.ps1
  Shared/Confirm-ExchangeShell.ps1
Owners: @microsoft/css-exchange-admins

Deployed 05c8fbd1 with MkDocs version: 1.4.2
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

remove header file info
  Retention/Get-MRMDetails.ps1
Owners: @tweekerz, @microsoft/css-exchange-admins

Breakout Get-MRMDetails Script
  Retention/Get-MRMDetails/ConvertPrStartTime.NotPublished.ps1
  Retention/Get-MRMDetails/ConvertPrStartTime.ps1
  Retention/Get-MRMDetails/Get-AlternativeMailbox.ps1
  Retention/Get-MRMDetails/Get-MRMDetails.ps1
  Retention/Get-MRMDetails/Get-ManagedFolderProperties.ps1
  Retention/Get-MRMDetails/Get-RetentionProperties.ps1
Owners: @tweekerz, @microsoft/css-exchange-admins

Moved MRMDetails to own folder
  Retention/Get-MRMDetails/ConvertPrStartTime.NotPublished.ps1
  Retention/Get-MRMDetails/Get-MRMDetails.ps1
Owners: @tweekerz, @microsoft/css-exchange-admins

remove error action
  Retention/Get-MRMDetails.ps1
Owners: @tweekerz, @microsoft/css-exchange-admins

Broke out Retention Information
  Retention/Get-MRMDetails/Get-RetentionInformation.ps1
  Retention/Get-MRMDetails/Get-RetentionProperties.ps1
Owners: @tweekerz, @microsoft/css-exchange-admins

Exchange Server November 2022 SU Updates
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityCve-2022-41040.NotPublished.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityCveCheck.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E15.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Tests.ps1
  Security/src/EOMTv2.ps1
  Security/src/ExchangeExtendedProtectionManagement/ExchangeExtendedProtectionManagement.ps1
  docs/Emerging-Issues.md
  docs/Security/EOMTv2.md
  docs/Security/Extended-Protection.md
Owners: @microsoft/css-exchange-admins, @Batre-MSFT, @tweekerz, @ninobb, @nasir1786

Added parameters for limit collection
  Diagnostics/ExchangeLogCollector/ExchangeLogCollector.ps1
  Diagnostics/ExchangeLogCollector/Helpers/Get-ArgumentList.ps1
  Diagnostics/ExchangeLogCollector/RemoteScriptBlock/IO/Copy-LogsBasedOnTime.ps1
  Diagnostics/ExchangeLogCollector/RemoteScriptBlock/IO/LogmanFunctions.ps1
  Diagnostics/ExchangeLogCollector/RemoteScriptBlock/IO/Save-WindowsEventLogs.ps1
Owners: @microsoft/css-exchange-admins

Update to test local domain only for MESO
  Setup/SetupAssist/Checks/Domain/Test-ExchangeADSetupLevel.ps1
  Setup/SetupAssist/Checks/UserContext/Test-UserGroupMemberOf.ps1
Owners: @microsoft/css-exchange-admins

Line break for Mismatch AD Level
  Setup/SetupAssist/Checks/Domain/Test-ExchangeADSetupLevel.ps1
Owners: @microsoft/css-exchange-admins

Deployed f4dcd6c4 with MkDocs version: 1.4.2
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Place Get-ExchangeWebSitesFromAd in a try catch block
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-ExchangeServerIISSettings.ps1
  Shared/ActiveDirectoryFunctions/Get-ExchangeContainer.ps1
  Shared/ActiveDirectoryFunctions/Get-ExchangeProtocolContainer.ps1
Owners: @microsoft/css-exchange-admins

Deployed 52c9a3c7 with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Build system rework
  .build/Build.ps1
  .build/BuildFunctions/Get-EmbeddedFile.ps1
  .build/BuildFunctions/Get-EmbeddedFileList.ps1
  .build/BuildFunctions/Get-FileMostRecentCommit.ps1
  .build/BuildFunctions/Get-FileTimestampHashtable.ps1
  .build/BuildFunctions/Get-ScriptDependencyHashtable.ps1
  .build/BuildFunctions/Get-ScriptDependencyTree.ps1
  .build/BuildFunctions/Get-ScriptProjectMostRecentCommit.ps1
  .build/BuildFunctions/Show-ScriptDependencyTree.ps1
  .build/ValidateMerge.ps1
  azure-pipeline-merge.yml
  docs/Databases/Analyze-SpaceDump.md
  docs/Databases/Compare-MailboxStatistics.md
  docs/Diagnostics/ManagedAvailabilityTroubleshooter.md
  docs/Transport/Compute-TopExoRecipientsFromMessageTrace.md
  mkdocs.yml
Owners: @microsoft/css-exchange-admins

Remove unused variable
  .build/ValidateMerge.ps1
Owners: @microsoft/css-exchange-admins

Add comments for clarity
  .build/ValidateMerge.ps1
Owners: @microsoft/css-exchange-admins

Use computer domain when binding to rootDSE, not user domain
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeAdSchemaClass.ps1
  Setup/SetupAssist/Checks/Domain/Test-ExchangeADSetupLevel.ps1
  Shared/ActiveDirectoryFunctions/Get-ADReplicationStatus.ps1
  Shared/ActiveDirectoryFunctions/Get-ExchangeContainer.ps1
Owners: @microsoft/css-exchange-admins

Don't count the same file multiple times when reporting affected files
  .build/ValidateMerge.ps1
Owners: @microsoft/css-exchange-admins

Remove duplicate variable
  Setup/SetupAssist/Checks/Domain/Test-ExchangeADSetupLevel.ps1
Owners: @microsoft/css-exchange-admins

Use computer domain when binding to GC RootDSE as well
  Shared/ActiveDirectoryFunctions/Get-TokenGroupsGlobalAndUniversal.ps1
  Shared/ActiveDirectoryFunctions/Search-AllActiveDirectoryDomains.ps1
Owners: @microsoft/css-exchange-admins

Always get the forest of the computer, not the user
  Admin/Find-AmbiguousSids.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeAdPermissions.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeDomainConfigVersion.ps1
  Security/src/Test-CVE-2021-34470.ps1
  Setup/SetupAssist/Checks/Domain/Test-ComputersContainerExists.ps1
  Setup/SetupAssist/Checks/Domain/Test-DomainControllerDnsHostName.ps1
  Setup/SetupAssist/Checks/Domain/Test-ExchangeADSetupLevel.ps1
  Shared/Get-WellKnownGroupSid.ps1
Owners: @microsoft/css-exchange-admins

Improve readability of output
  .build/ValidateMerge.ps1
Owners: @microsoft/css-exchange-admins

Deployed b6d9b1c6 with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Adjustments to rollback mitigation on fixed builds
  Security/src/EOMTv2.ps1
Owners: @microsoft/css-exchange-admins
