Repository microsoft/CSS-Exchange, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/css-exchange-admins, @tweekerz, @Batre-MSFT, @ninobb, @nasir1786

.github/CODEOWNERS:

# Default owners
*   @microsoft/css-exchange-admins

# Rob Whaley owns these
/Hybrid/                                @tweekerz @microsoft/css-exchange-admins
/Retention/                             @tweekerz @microsoft/css-exchange-admins
/docs/Security/Extended-Protection.md   @tweekerz @microsoft/css-exchange-admins

# Supportability owns this doc
/docs/Emerging-Issues.md    @Batre-MSFT @tweekerz @ninobb @nasir1786 @microsoft/css-exchange-admins

created install watermark doc
  docs/Setup/SetupAssist/InstallWatermark.md
  mkdocs.yml
Owners: @microsoft/css-exchange-admins

Avoid script scope variables & Move Test Admin to own file
  Setup/SetupAssist/Checks/UserContext/Test-UserGroupMemberOf.ps1
  Setup/SetupAssist/Checks/UserContext/Test-UserIsAdministrator.ps1
  Setup/SetupAssist/SetupAssist.ps1
Owners: @microsoft/css-exchange-admins

Always do test for user Administrator in main
  Setup/SetupAssist/Checks/UserContext/Test-UserGroupMemberOf.ps1
  Setup/SetupAssist/SetupAssist.ps1
Owners: @microsoft/css-exchange-admins

update pester for new logic
  Setup/Tests/SetupAssist.Tests.ps1
Owners: @microsoft/css-exchange-admins

Add comment about links related to build numbers & AD Level
  Shared/Get-ExchangeBuildVersionInformation.ps1
Owners: @microsoft/css-exchange-admins

Always use at least 2 cores for this logic
  .build/Pester.ps1
Owners: @microsoft/css-exchange-admins

Make HC cert check work with broken SDS config
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/New-ExchangeAuthCertificate.ps1
  Admin/MonitorExchangeAuthCertificate/DataCollection/Get-ExchangeServerCertificate.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeServerCertificates.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Tests/DataCollection/GetExchangeCertificateBroken.xml
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Tests/Get-ExchangeServerCertificates.Tests.ps1
  Shared/CertificateFunctions/Import-ExchangeCertificateFromRawData.ps1
Owners: @microsoft/css-exchange-admins

Deployed daa45ad6 with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Spell check scripts and docs
  .build/SpellCheck.ps1
  .build/cspell-words.txt
  .build/cspell.json
Owners: @microsoft/css-exchange-admins

Reduced white list words
  .build/cspell-words.txt
Owners: @microsoft/css-exchange-admins

Add CSpell dictionary to the workspace config
  .vscode/settings.json
Owners: @microsoft/css-exchange-admins

Add TCPIP to dictionary
  .build/cspell-words.txt
  mkdocs.yml
Owners: @microsoft/css-exchange-admins

Add compliance header to SpellCheck.ps1
  .build/SpellCheck.ps1
Owners: @microsoft/css-exchange-admins

Fixed formatting
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-FIPFSScanEngineVersionState.ps1
Owners: @microsoft/css-exchange-admins

Remove names in files
  Performance/ExPerfAnalyzer.ps1
  Retention/Get-MRMDetails.ps1
Owners: @microsoft/css-exchange-admins, @tweekerz

Use gitIgnore
  .build/cspell.json
Owners: @microsoft/css-exchange-admins

Remove compliance header
  Retention/Get-MRMDetails.ps1
Owners: @tweekerz, @microsoft/css-exchange-admins

Add spell check to merge pipeline
  azure-pipeline-merge.yml
Owners: @microsoft/css-exchange-admins

Check again after installing
  .build/SpellCheck.ps1
Owners: @microsoft/css-exchange-admins

Deployed d7a3678b with MkDocs version: 1.4.2
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Remove unused variable
  PublicFolders/ValidateEXOPFDumpster.ps1
Owners: @microsoft/css-exchange-admins

Fix percentageLoad displayed 100 when 0 or null
  Diagnostics/HealthChecker/Features/Get-LoadBalancingReport.ps1
Owners: @microsoft/css-exchange-admins

Get-InternalTransportCert errorhandling improved
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeServerCertificates.ps1
  Shared/ActiveDirectoryFunctions/Get-InternalTransportCertificateFromServer.ps1
Owners: @microsoft/css-exchange-admins

Deployed 5f2f3557 with MkDocs version: 1.4.2
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Fix camel casing on ScriptBlock
  Shared/ActiveDirectoryFunctions/Get-InternalTransportCertificateFromServer.ps1
Owners: @microsoft/css-exchange-admins

Deployed 58432e38 with MkDocs version: 1.4.2
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Known issues check for 2016/2019 Jan 2023 SU Release
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerKnownBuildIssues.ps1
Owners: @microsoft/css-exchange-admins

Remove back ticks from file
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerKnownBuildIssues.ps1
Owners: @microsoft/css-exchange-admins

Deployed e31533e4 with MkDocs version: 1.4.2
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Use Custom properties for Vulnerability Report
  Diagnostics/HealthChecker/Analyzer/Add-AnalyzedResultInformation.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityExtendedProtectionConfigState.ps1
  Diagnostics/HealthChecker/Features/Invoke-VulnerabilityReport.ps1
  Diagnostics/HealthChecker/Helpers/Class.ps1
Owners: @microsoft/css-exchange-admins

Additional information option to avoid long string with new line and tabs
  Diagnostics/HealthChecker/Analyzer/Add-AnalyzedResultInformation.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecuritySettings.ps1
  Diagnostics/HealthChecker/Helpers/Class.ps1
Owners: @microsoft/css-exchange-admins

Deployed 0e87426d with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Remove NET Core 2 Requirment and use code sign V2
  azure-pipeline-release.yml
Owners: @microsoft/css-exchange-admins

Get infor from Site Id in the loadbalancingReport
  Diagnostics/HealthChecker/Features/Get-LoadBalancingReport.ps1
Owners: @microsoft/css-exchange-admins

Pushing MigrateDLs script
  Admin/MigrateDLs.ps1
  docs/Admin/MigrateDLs.md
  mkdocs.yml
Owners: @microsoft/css-exchange-admins

Knowns issues after installing January 2023 SU
  docs/Emerging-Issues.md
Owners: @Batre-MSFT, @tweekerz, @ninobb, @nasir1786, @microsoft/css-exchange-admins

Deployed a3b71961 with MkDocs version: 1.4.2
  Emerging-Issues/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Typo corrected
  docs/Emerging-Issues.md
Owners: @Batre-MSFT, @tweekerz, @ninobb, @nasir1786, @microsoft/css-exchange-admins

Formatting
  docs/Emerging-Issues.md
Owners: @Batre-MSFT, @tweekerz, @ninobb, @nasir1786, @microsoft/css-exchange-admins

Adjustment to pass cspell check
  docs/Emerging-Issues.md
Owners: @Batre-MSFT, @tweekerz, @ninobb, @nasir1786, @microsoft/css-exchange-admins
