Repository microsoft/CSS-Exchange, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bill-long, @dpaulson45, @lusassl-msft, @dbacon247, @tweekerz, @Batre-MSFT, @ninobb, @nasir1786

Update TLS to detect NULL Values
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecuritySettings.ps1
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-AllTlsSettingsFromRegistry.ps1
  Diagnostics/HealthChecker/Tests/DataCollection/E15/OS/GetAllTlsSettings.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E16/OS/GetAllTlsSettings.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E19/OS/GetAllTlsSettings.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E19/OS/GetAllTlsSettings1.xml
  Diagnostics/HealthChecker/Tests/HealthChecker.E15.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Tests.ps1
  docs/Diagnostics/HealthChecker/TLSConfigurationCheck.md
Owners: @bill-long, @dpaulson45, @lusassl-msft

Refactor EP Prerequisites Check
  Security/src/ConfigureExtendedProtection/ConfigurationAction/Invoke-ConfigureExtendedProtection.ps1
  Security/src/ConfigureExtendedProtection/ConfigureExtendedProtection.ps1
  Security/src/ConfigureExtendedProtection/DataCollection/Get-ExtendedProtectionConfiguration.ps1
  Security/src/ConfigureExtendedProtection/DataCollection/Get-ExtendedProtectionPrerequisitesCheck.ps1
  Security/src/ConfigureExtendedProtection/DataCollection/Invoke-ExtendedProtectionTlsPrerequisitesCheck.ps1
Owners: @bill-long, @dpaulson45, @lusassl-msft

Broke out Rollback option
  Security/src/ConfigureExtendedProtection/ConfigurationAction/Configure-ExtendedProtection.ps1
  Security/src/ConfigureExtendedProtection/ConfigurationAction/Invoke-RollbackExtendedProtection.ps1
  Security/src/ConfigureExtendedProtection/ConfigureExtendedProtection.ps1
Owners: @bill-long, @dpaulson45, @lusassl-msft

Removed Invoke-ExtendedProtectionTlsPrerequisitesCheck.Tests Temp
  Security/src/ConfigureExtendedProtection/DataCollection/Tests/Invoke-ExtendedProtectionTlsPrerequisitesCheck.Tests.ps1
Owners: @bill-long, @dpaulson45, @lusassl-msft

Removed SkipTlsPrerequisitesCheck
  Security/src/ConfigureExtendedProtection/ConfigureExtendedProtection.ps1
Owners: @bill-long, @dpaulson45, @lusassl-msft

Disclaimer regarding SSL offloading added
  Security/src/ConfigureExtendedProtection/ConfigureExtendedProtection.ps1
  Shared/Show-Disclaimer.ps1
Owners: @bill-long, @dpaulson45, @lusassl-msft

Set EAS FE to Allow for EP
  Security/src/ConfigureExtendedProtection/DataCollection/Get-ExtendedProtectionConfiguration.ps1
Owners: @bill-long, @dpaulson45, @lusassl-msft

Allow $ExchangeServerNames to accept from Pipeline
  Security/src/ConfigureExtendedProtection/ConfigureExtendedProtection.ps1
Owners: @bill-long, @dpaulson45, @lusassl-msft

Allow SkipEWS for known issues
  Security/src/ConfigureExtendedProtection/ConfigureExtendedProtection.ps1
  Security/src/ConfigureExtendedProtection/DataCollection/Get-ExtendedProtectionConfiguration.ps1
  Security/src/ConfigureExtendedProtection/DataCollection/Get-ExtendedProtectionPrerequisitesCheck.ps1
Owners: @bill-long, @dpaulson45, @lusassl-msft

Remove Security Protocol for Prerequisite Check
  Security/src/ConfigureExtendedProtection/DataCollection/Invoke-ExtendedProtectionTlsPrerequisitesCheck.ps1
Owners: @bill-long, @dpaulson45, @lusassl-msft

Fixed issue with ExchangeServerNames accepting values from the pipeline
  Security/src/ConfigureExtendedProtection/ConfigureExtendedProtection.ps1
Owners: @bill-long, @dpaulson45, @lusassl-msft

Removed EnforceSSL Parameter
  Security/src/ConfigureExtendedProtection/ConfigureExtendedProtection.ps1
Owners: @bill-long, @dpaulson45, @lusassl-msft

Rebased - Accept Fqdn as Exchange server input
  Security/src/ConfigureExtendedProtection/ConfigureExtendedProtection.ps1
Owners: @bill-long, @dpaulson45, @lusassl-msft

Add SSLFlags to be configured
  Security/src/ConfigureExtendedProtection/ConfigurationAction/Invoke-ConfigureExtendedProtection.ps1
  Security/src/ConfigureExtendedProtection/DataCollection/Get-ExtendedProtectionConfiguration.ps1
Owners: @bill-long, @dpaulson45, @lusassl-msft

Improved TLS Output Information
  Security/src/ConfigureExtendedProtection/ConfigureExtendedProtection.ps1
Owners: @bill-long, @dpaulson45, @lusassl-msft

Rebase - Show if no change was made due to build
  Security/src/ConfigureExtendedProtection/ConfigurationAction/Invoke-ConfigureExtendedProtection.ps1
Owners: @bill-long, @dpaulson45, @lusassl-msft

Fixed Pester for FE EAS to Allow
  Security/src/ConfigureExtendedProtection/DataCollection/Tests/Data/E15_Configured_Both_ApplicationHost.config
  Security/src/ConfigureExtendedProtection/DataCollection/Tests/Data/E15_Configured_Cas_ApplicationHost.config
  Security/src/ConfigureExtendedProtection/DataCollection/Tests/Data/E16_Configured_ApplicationHost.config
  Security/src/ConfigureExtendedProtection/DataCollection/Tests/Data/E19_Configured_ApplicationHost.config
  Security/src/ConfigureExtendedProtection/DataCollection/Tests/Get-ExtendedProtectionConfiguration.Tests.ps1
Owners: @bill-long, @dpaulson45, @lusassl-msft

Addressed Down Server Issue
  Security/src/ConfigureExtendedProtection/ConfigurationAction/Invoke-RollbackExtendedProtection.ps1
  Security/src/ConfigureExtendedProtection/ConfigureExtendedProtection.ps1
Owners: @bill-long, @dpaulson45, @lusassl-msft

Adjust Rollback param to RollbackType - RestoreConfig
  Security/src/ConfigureExtendedProtection/ConfigureExtendedProtection.ps1
Owners: @bill-long, @dpaulson45, @lusassl-msft

Switched SkipEWS to InternalOption
  Security/src/ConfigureExtendedProtection/ConfigureExtendedProtection.ps1
Owners: @bill-long, @dpaulson45, @lusassl-msft

Support -WhatIf in Logger
  Shared/LoggerFunctions.ps1
Owners: @bill-long, @dpaulson45, @lusassl-msft

Removed Security Protocol from being dipslayed in grouping
  Security/src/ConfigureExtendedProtection/ConfigureExtendedProtection.ps1
Owners: @bill-long, @dpaulson45, @lusassl-msft

Updated Disclaimer format
  Security/src/ConfigureExtendedProtection/ConfigureExtendedProtection.ps1
Owners: @bill-long, @dpaulson45, @lusassl-msft

Logic to handle unsupported versions of Exchange for EP
  Security/src/ConfigureExtendedProtection/ConfigureExtendedProtection.ps1
Owners: @bill-long, @dpaulson45, @lusassl-msft

Add Online Archive Disclaimer
  Security/src/ConfigureExtendedProtection/ConfigureExtendedProtection.ps1
Owners: @bill-long, @dpaulson45, @lusassl-msft

Updated aka.ms links
  Security/src/ConfigureExtendedProtection/ConfigureExtendedProtection.ps1
  Security/src/ConfigureExtendedProtection/DataCollection/Invoke-ExtendedProtectionTlsPrerequisitesCheck.ps1
Owners: @bill-long, @dpaulson45, @lusassl-msft

Switch RestoreConfig to RestoreIISAppConfig
  Security/src/ConfigureExtendedProtection/ConfigureExtendedProtection.ps1
Owners: @bill-long, @dpaulson45, @lusassl-msft

Rename ConfigureExtendedProtection to ExchangeExtendedProtectionManagement
  Security/src/ExchangeExtendedProtectionManagement/ConfigurationAction/Invoke-ConfigureExtendedProtection.ps1
  Security/src/ExchangeExtendedProtectionManagement/ConfigurationAction/Invoke-RollbackExtendedProtection.ps1
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Get-ExtendedProtectionConfiguration.ps1
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Get-ExtendedProtectionPrerequisitesCheck.ps1
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Invoke-ExtendedProtectionTlsPrerequisitesCheck.ps1
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Tests/Data/E15_Configured_Both_ApplicationHost.config
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Tests/Data/E15_Configured_Cas_ApplicationHost.config
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Tests/Data/E15_Configured_Mbx_ApplicationHost.config
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Tests/Data/E15_NotConfigured_Both_ApplicationHost.config
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Tests/Data/E15_NotConfigured_Cas_ApplicationHost.config
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Tests/Data/E15_NotConfigured_Mbx_ApplicationHost.config
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Tests/Data/E16_Configured_ApplicationHost.config
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Tests/Data/E16_NotConfigured_ApplicationHost.config
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Tests/Data/E19_Configured_ApplicationHost.config
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Tests/Data/E19_MisConfigured_ApplicationHost.config
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Tests/Data/E19_NotConfigured_ApplicationHost.config
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Tests/Data/GetAllTlsSettings-AllTlsSettingsDefault.xml
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Tests/Data/GetAllTlsSettings-SchUseStrongCryptoConfigured.xml
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Tests/Data/GetAllTlsSettings-TlsSettingsMisconfigured.xml
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Tests/Data/GetCommand.xml
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Tests/Get-ExtendedProtectionConfiguration.Tests.ps1
  Security/src/ExchangeExtendedProtectionManagement/ExchangeExtendedProtectionManagement.ps1
  Security/src/ExchangeExtendedProtectionManagement/Write-Verbose.ps1
  Security/src/ExchangeExtendedProtectionManagement/WriteFunctions.ps1
Owners: @dbacon247, @bill-long, @dpaulson45

Full Support for -WhatIf to work as intended
  Security/src/ConfigureExtendedProtection/ConfigurationAction/Invoke-ConfigureExtendedProtection.ps1
  Security/src/ConfigureExtendedProtection/ConfigurationAction/Invoke-RollbackExtendedProtection.ps1
  Security/src/ConfigureExtendedProtection/ConfigureExtendedProtection.ps1
  Shared/Show-Disclaimer.ps1
Owners: @bill-long, @dpaulson45, @lusassl-msft

Updated files for new location of ExchangeExtendedProtectionManagement
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityExtendedProtectionConfigState.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeInformation.ps1
  Security/src/ExchangeExtendedProtectionManagement/ExchangeExtendedProtectionManagement.ps1
Owners: @bill-long, @dpaulson45, @lusassl-msft, @dbacon247

Removed print spooler vulnerability testing
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityCve-2022-21979.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityCveCheck.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityExtendedProtectionConfigState.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-PrintSpoolerConfiguration.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Tests/Get-PrintSpoolerConfiguration.Tests.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Tests/PrintSpoolerSetToAutomaticAndRunning.xml
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Tests/PrintSpoolerSetToAutomaticAndStopped.xml
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Tests/PrintSpoolerSetToDisabledAndStopped.xml
  Diagnostics/HealthChecker/Helpers/Class.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E15.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Tests.ps1
Owners: @bill-long, @dpaulson45, @lusassl-msft

Fix InternalOption Verbose before Logger Instance Create
  Security/src/ExchangeExtendedProtectionManagement/ExchangeExtendedProtectionManagement.ps1
Owners: @dbacon247, @bill-long, @dpaulson45

Address issue with trying to set SSL Flags
  Security/src/ExchangeExtendedProtectionManagement/ConfigurationAction/Invoke-ConfigureExtendedProtection.ps1
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Get-ExtendedProtectionConfiguration.ps1
Owners: @dbacon247, @bill-long, @dpaulson45

CVE-2022-34692 check added
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityCveCheck.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityExtendedProtectionConfigState.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Tests.ps1
Owners: @bill-long, @dpaulson45, @lusassl-msft

Add ShowExtendedProtection Parameter v1
  Security/src/ExchangeExtendedProtectionManagement/ExchangeExtendedProtectionManagement.ps1
Owners: @dbacon247, @bill-long, @dpaulson45

Update Pester for new Exchange Display Property
  Diagnostics/HealthChecker/Tests/HealthChecker.E15.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Tests.ps1
Owners: @bill-long, @dpaulson45, @lusassl-msft

Copy applicationHost.config one more time after changes
  Security/src/ExchangeExtendedProtectionManagement/ConfigurationAction/Invoke-ConfigureExtendedProtection.ps1
Owners: @dbacon247, @bill-long, @dpaulson45

Adjust Health Checker for better display of Extended Protection
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerExchangeInformation.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityExtendedProtectionConfigState.ps1
Owners: @bill-long, @dpaulson45, @lusassl-msft

Update Pester for removal of Security Display Property
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Tests.ps1
Owners: @bill-long, @dpaulson45, @lusassl-msft

Show MRS Proxy status
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerExchangeInformation.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E15.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Tests.ps1
Owners: @bill-long, @dpaulson45, @lusassl-msft

.github/CODEOWNERS:

# Default owners
*   @bill-long @dpaulson45 @lusassl-msft

# Everything in Security is owned by those folks
/Security/src/   @dbacon247 @bill-long @dpaulson45

# Except these which are owned by Exchange
/Security/src/Test-ProxyLogon.ps1   @bill-long @dpaulson45 @lusassl-msft
/Security/src/Test-CVE-2021-34470.ps1   @bill-long @dpaulson45 @lusassl-msft
/Security/src/ConfigureExtendedProtection @bill-long @dpaulson45 @lusassl-msft

# Rob Whaley owns these
/Hybrid/        @tweekerz @bill-long @dpaulson45 @lusassl-msft
/Retention/     @tweekerz @bill-long @dpaulson45 @lusassl-msft

# Supportability owns this doc
/docs/Emerging-Issues.md    @Batre-MSFT @tweekerz @ninobb @nasir1786 @bill-long @dpaulson45 @lusassl-msft
