Repository microsoft/CSS-Exchange, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/css-exchange-admins, @tweekerz, @Batre-MSFT, @ninobb, @nasir1786

Only export depth of 2 instead of 6
  Diagnostics/HealthChecker/Features/Get-HealthCheckerData.ps1
Owners: @microsoft/css-exchange-admins

When using Get-Content include -Raw
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-ExchangeAppPoolsInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-ExchangeServerIISSettings.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-IISWebApplication.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-IISWebSite.ps1
  Shared/IISFunctions/Get-ApplicationHostConfig.ps1
Owners: @microsoft/css-exchange-admins

Deployed 30f7cb2e with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Fix typo with CmdletBinding
  M365/src/DLT365Groupsupgrade.ps1
Owners: @microsoft/css-exchange-admins

Deployed 03563e83 with MkDocs version: 1.4.2
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Use Get-Website to query the website id
  Diagnostics/HealthChecker/Features/Get-LoadBalancingReport.ps1
Owners: @microsoft/css-exchange-admins

Deployed 3c15781f with MkDocs version: 1.4.2
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

EWS Crash after feb SU
  docs/Emerging-Issues.md
Owners: @Batre-MSFT, @tweekerz, @ninobb, @nasir1786, @microsoft/css-exchange-admins

Update cspell-words.txt
  .build/cspell-words.txt
Owners: @microsoft/css-exchange-admins

EWS crash without workaround
  .build/cspell-words.txt
  docs/Emerging-Issues.md
Owners: @microsoft/css-exchange-admins, @Batre-MSFT, @tweekerz, @ninobb, @nasir1786

Deployed 83ca92f8 with MkDocs version: 1.4.2
  Emerging-Issues/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Emerging Issues table fixed
  docs/Emerging-Issues.md
Owners: @Batre-MSFT, @tweekerz, @ninobb, @nasir1786, @microsoft/css-exchange-admins

Include known issues for Feb23SU
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerKnownBuildIssues.ps1
Owners: @microsoft/css-exchange-admins

Deployed 2aff5f62 with MkDocs version: 1.4.2
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Place Get-HotFix in try catch block
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-OperatingSystemInformation.ps1
Owners: @microsoft/css-exchange-admins

Deployed 4a010e78 with MkDocs version: 1.4.2
  Emerging-Issues/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Deployed 7ea897d1 with MkDocs version: 1.4.2
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Typo fixed
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerFrequentConfigurationIssues.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeRegistryValues.ps1
Owners: @microsoft/css-exchange-admins

Fix for BinSearchFolder false-positive
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerFrequentConfigurationIssues.ps1
Owners: @microsoft/css-exchange-admins

Handle Get-Content -Raw for finding 'linkedConfiguration' better
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-ExchangeServerIISSettings.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-IISWebApplication.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-IISWebSite.ps1
Owners: @microsoft/css-exchange-admins

Deployed 4b177912 with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

added KB
  docs/Emerging-Issues.md
Owners: @Batre-MSFT, @tweekerz, @ninobb, @nasir1786, @microsoft/css-exchange-admins

Deployed 8cc82f22 with MkDocs version: 1.4.2
  Emerging-Issues/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Update Update-Engines.ps1
  Admin/Update-Engines.ps1
Owners: @microsoft/css-exchange-admins

Avoid errors in case that the MP is not available
  Setup/SetExchAVExclusions/Set-ExchAVExclusions.ps1
Owners: @microsoft/css-exchange-admins

Adjustments to the EOMTv2 warning
  Security/src/EOMTv2.ps1
  docs/Security/EOMTv2.md
Owners: @microsoft/css-exchange-admins

Exclusions adjusted as per our recommendations
  Shared/Get-ExchAVExclusions.ps1
Owners: @microsoft/css-exchange-admins

Case corrected
  Shared/Get-ExchAVExclusions.ps1
Owners: @microsoft/css-exchange-admins

Deployed 8fac049e with MkDocs version: 1.4.2
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Deployed 3c8ba455 with MkDocs version: 1.4.2
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Make sure we only try to find valid web.config for ECP binSearchFolders check
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerFrequentConfigurationIssues.ps1
Owners: @microsoft/css-exchange-admins

Make sure we set values back to default in loop
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-IISWebApplication.ps1
Owners: @microsoft/css-exchange-admins

Add dependency in analyzer files
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerOsInformation.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityCve-2020-1147.ps1
Owners: @microsoft/css-exchange-admins

Export depth in Pester code to a depth of 2 as well
  Diagnostics/HealthChecker/Tests/HealthCheckerTests.ImportCode.NotPublished.ps1
Owners: @microsoft/css-exchange-admins

Remove 3 site due to not having a 3rd site setup in my lab.
  Diagnostics/HealthChecker/Tests/DataCollection/E15/Exchange/GetExchangeWebSitesFromAd.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E16/Exchange/GetExchangeWebSitesFromAd.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/GetExchangeWebSitesFromAd.xml
Owners: @microsoft/css-exchange-admins

Confirm-ExchangeShell function improved
  Shared/Confirm-ExchangeManagementShell.ps1
  Shared/Confirm-ExchangeShell.ps1
Owners: @microsoft/css-exchange-admins

Deployed 3baa470e with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Minor adjustments
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecuritySerializedDataSigningState.ps1
  Shared/Confirm-ExchangeShell.ps1
Owners: @microsoft/css-exchange-admins

Deployed 1ea7d7b2 with MkDocs version: 1.4.2
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

False Warning with ServerList parameter
  Diagnostics/HealthChecker/Features/Get-LoadBalancingReport.ps1
Owners: @microsoft/css-exchange-admins

.github/CODEOWNERS:

# Default owners
*   @microsoft/css-exchange-admins

# Rob Whaley owns these
/Hybrid/                                @tweekerz @microsoft/css-exchange-admins
/Retention/                             @tweekerz @microsoft/css-exchange-admins
/docs/Security/Extended-Protection.md   @tweekerz @microsoft/css-exchange-admins

# Supportability owns this doc
/docs/Emerging-Issues.md    @Batre-MSFT @tweekerz @ninobb @nasir1786 @microsoft/css-exchange-admins
