Repository microsoft/CSS-Exchange, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/css-exchange-admins, @tweekerz, @Batre-MSFT, @ninobb, @nasir1786

.github/CODEOWNERS:

# Default owners
*   @microsoft/css-exchange-admins

# Rob Whaley owns these
/Hybrid/                                @tweekerz @microsoft/css-exchange-admins
/Retention/                             @tweekerz @microsoft/css-exchange-admins
/docs/Security/Extended-Protection.md   @tweekerz @microsoft/css-exchange-admins

# Supportability owns this doc
/docs/Emerging-Issues.md    @Batre-MSFT @tweekerz @ninobb @nasir1786 @microsoft/css-exchange-admins

Deployed dd96996b with MkDocs version: 1.4.3
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Deployed 4a4a8336 with MkDocs version: 1.4.3
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Changed Write-Error to Write-Host -ForegroundColor
  Setup/SetExchAVExclusions/Set-ExchAVExclusions.ps1
Owners: @microsoft/css-exchange-admins

Update Set-ExchAVExclusions.ps1
  Setup/SetExchAVExclusions/Set-ExchAVExclusions.ps1
Owners: @microsoft/css-exchange-admins

Deployed 40e521ea with MkDocs version: 1.4.3
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Fix docs typo
  docs/Security/CVE-2023-23397/FAQ.md
Owners: @microsoft/css-exchange-admins

Moved Get-AllNicInformation to Shared
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-HardwareInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-NetworkingInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-OperatingSystemInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-PageFileInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-ServerOperatingSystemVersion.ps1
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-WmiObjectCriticalHandler.ps1
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Get-ExchangeServerIPs.ps1
  Shared/Get-AllNicInformation.ps1
  Shared/Get-WmiObjectHandler.ps1
Owners: @microsoft/css-exchange-admins

Updated Get-WmiObjectHandler
  Shared/Get-WmiObjectHandler.ps1
Owners: @microsoft/css-exchange-admins

Fixed issue with handling not finding a adapterConfiguration
  Shared/Get-AllNicInformation.ps1
Owners: @microsoft/css-exchange-admins

Deployed e30d3a07 with MkDocs version: 1.4.3
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Fix variables and parameters
  Diagnostics/AVTester/Test-ExchAVExclusions.ps1
  docs/Diagnostics/Test-ExchAVExclusions.md
Owners: @microsoft/css-exchange-admins

Added function to handle multiple servers
  .build/cspell-words.txt
  Admin/Test-AMSI.ps1
  docs/Admin/Test-AMSI.md
Owners: @microsoft/css-exchange-admins

Update docs, Fix parameter and better output
  Diagnostics/AVTester/Test-ExchAVExclusions.ps1
  docs/Diagnostics/Test-ExchAVExclusions.md
Owners: @microsoft/css-exchange-admins

Fix variables and parameters
  Diagnostics/AVTester/Test-ExchAVExclusions.ps1
  docs/Diagnostics/Test-ExchAVExclusions.md
Owners: @microsoft/css-exchange-admins

To Avoid CIM warning
  Admin/Test-AMSI.ps1
Owners: @microsoft/css-exchange-admins

Added function to handle multiple servers
  .build/cspell-words.txt
  Admin/Test-AMSI.ps1
  docs/Admin/Test-AMSI.md
Owners: @microsoft/css-exchange-admins

CSS-Exchange customizations
  README.md
  docs/images/MicrosoftLogo.svg
  mkdocs.yml
Owners: @microsoft/css-exchange-admins

parent 885ed8b043ad8f132a7b31d197095788183e056e author Bill Long <bill@bill-long.com> 1683653462 -0500 committer iserrano76 <iserrano76@hotmail.com> 1684166548 +0200
  .build/cspell-words.txt
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/Add-ADUserToLocalGroup.ps1
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/Build-ExchangeAuthCertificateManagementAccount.ps1
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/Copy-ScriptToExchangeDirectory.ps1
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/Export-ExchangeAuthCertificate.ps1
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/New-AuthCertificateManagementAccount.ps1
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/New-AuthCertificateMonitoringLogFolder.ps1
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/New-ExchangeAuthCertificate.ps1
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/Register-AuthCertificateRenewalTask.ps1
  Admin/MonitorExchangeAuthCertificate/DataCollection/Get-ExchangeAuthCertificateStatus.ps1
  Admin/MonitorExchangeAuthCertificate/MonitorExchangeAuthCertificate.ps1
  Admin/Test-AMSI.ps1
  Search/Troubleshoot-ModernSearch/Write/Write-BasicMailboxInformation.ps1
  docs/Admin/Test-AMSI.md
  docs/Images/MicrosoftLogo.svg
  docs/Security/CVE-2023-23397/index.md
  docs/Security/Extended-Protection.md
  mkdocs.yml
Owners: @microsoft/css-exchange-admins, @tweekerz

Known issue with EP and PF added
  docs/Security/Extended-Protection.md
  mkdocs.yml
Owners: @tweekerz, @microsoft/css-exchange-admins

Improve WhatIf handling
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/Add-ADUserToLocalGroup.ps1
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/Build-ExchangeAuthCertificateManagementAccount.ps1
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/Copy-ScriptToExchangeDirectory.ps1
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/Export-ExchangeAuthCertificate.ps1
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/New-AuthCertificateManagementAccount.ps1
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/New-AuthCertificateMonitoringLogFolder.ps1
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/New-ExchangeAuthCertificate.ps1
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/Register-AuthCertificateRenewalTask.ps1
  Admin/MonitorExchangeAuthCertificate/DataCollection/Get-ExchangeAuthCertificateStatus.ps1
  Admin/MonitorExchangeAuthCertificate/MonitorExchangeAuthCertificate.ps1
Owners: @microsoft/css-exchange-admins

Minor change on the wording
  docs/Security/Extended-Protection.md
Owners: @tweekerz, @microsoft/css-exchange-admins

EP docs Formatting adjusted
  docs/Security/Extended-Protection.md
Owners: @tweekerz, @microsoft/css-exchange-admins

Remove references to IsExcludedFromServingHierarchy
  docs/Security/Extended-Protection.md
Owners: @tweekerz, @microsoft/css-exchange-admins

Replace logo and add download counter
  README.md
  docs/Images/MicrosoftLogo.svg
  mkdocs.yml
Owners: @microsoft/css-exchange-admins

Detect if mailbox is full as that blocks indexing
  Search/Troubleshoot-ModernSearch/Write/Write-BasicMailboxInformation.ps1
Owners: @microsoft/css-exchange-admins

Another minor formatting adjustment
  docs/Security/Extended-Protection.md
Owners: @tweekerz, @microsoft/css-exchange-admins

Another docs format adjustment
  docs/Security/CVE-2023-23397/index.md
  docs/Security/Extended-Protection.md
Owners: @microsoft/css-exchange-admins, @tweekerz

Added function to handle multiple servers
  .build/cspell-words.txt
  Admin/Test-AMSI.ps1
  docs/Admin/Test-AMSI.md
Owners: @microsoft/css-exchange-admins

Have HTML Report use OutputFilePath directory
  Diagnostics/HealthChecker/Features/Get-HtmlServerReport.ps1
  Diagnostics/HealthChecker/HealthChecker.ps1
Owners: @microsoft/css-exchange-admins

Deployed f05847ef with MkDocs version: 1.4.3
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Correctly report when registry setting isn't set for AllowInsecureRenego Keys
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-OperatingSystemRegistryValues.ps1
Owners: @microsoft/css-exchange-admins

Use Unlimited for store query trying to find Conversations folder
  Search/Troubleshoot-ModernSearch/StoreQuery/Get-StoreQueryMailboxMessagesByCategory.ps1
Owners: @microsoft/css-exchange-admins

Replacement of #1546
  .build/cspell-words.txt
  Admin/Test-AMSI.ps1
  docs/Admin/Test-AMSI.md
Owners: @microsoft/css-exchange-admins

Fix lowercaser isse and change the logic on that.
  Admin/Test-AMSI.ps1
Owners: @microsoft/css-exchange-admins

Deployed 8b363dd5 with MkDocs version: 1.4.3
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Test-ADCredentials added
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
  Shared/ActiveDirectoryFunctions/Test-ADCredentials.ps1
Owners: @microsoft/css-exchange-admins

Write out errorcode for other failures
  Shared/ActiveDirectoryFunctions/Test-ADCredentials.ps1
Owners: @microsoft/css-exchange-admins

Deployed f9d9306d with MkDocs version: 1.4.3
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Included the changes requested
  Admin/Test-AMSI.ps1
  docs/Admin/Test-AMSI.md
Owners: @microsoft/css-exchange-admins

Fix bug with determining error indexing value
  Shared/ErrorMonitorFunctions.ps1
Owners: @microsoft/css-exchange-admins
