Repository microsoft/CSS-Exchange, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/css-exchange-admins, @tweekerz, @Batre-MSFT, @ninobb, @nasir1786

Adjustments to check for IP Filtering
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityExtendedProtectionConfigState.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Tests.ps1
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Get-ExtendedProtectionConfiguration.ps1
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Tests/Data/E16_Configured_IPFilter_ApplicationHost.config
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Tests/Data/E19_Configured_IPFilter_ApplicationHost.config
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Tests/Get-ExtendedProtectionConfiguration.Tests.ps1
  Security/src/ExchangeExtendedProtectionManagement/ExchangeExtendedProtectionManagement.ps1
Owners: @microsoft/css-exchange-admins

Adjustments to check for IP Filtering
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityExtendedProtectionConfigState.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Tests.ps1
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Get-ExtendedProtectionConfiguration.ps1
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Tests/Data/E16_Configured_IPFilter_ApplicationHost.config
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Tests/Data/E19_Configured_IPFilter_ApplicationHost.config
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Tests/Get-ExtendedProtectionConfiguration.Tests.ps1
  Security/src/ExchangeExtendedProtectionManagement/ExchangeExtendedProtectionManagement.ps1
Owners: @microsoft/css-exchange-admins

Add Clear All Selections button
  Diagnostics/ExTRA/ui.html
Owners: @microsoft/css-exchange-admins

Deployed c3664afa with MkDocs version: 1.3.1
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Updated Documentation and FAQ
  docs/Security/Extended-Protection.md
Owners: @tweekerz, @microsoft/css-exchange-admins

updated
  docs/Security/Extended-Protection.md
Owners: @tweekerz, @microsoft/css-exchange-admins

Deployed 5d3aa6ea with MkDocs version: 1.3.1
  Security/Extended-Protection/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Blocking ExchangeShell issue fixed
  Security/src/ExchangeExtendedProtectionManagement/ExchangeExtendedProtectionManagement.ps1
Owners: @microsoft/css-exchange-admins

EP documentation adjustments
  docs/Security/ExchangeExtendedProtectionManagement.md
  docs/Security/Extended-Protection.md
Owners: @microsoft/css-exchange-admins, @tweekerz

Deployed 199ae10f with MkDocs version: 1.3.1
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Deployed 03a6ef54 with MkDocs version: 1.3.1
  Security/ExchangeExtendedProtectionManagement/index.html
  Security/Extended-Protection/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Updated Exchange Extended Protection Management script doc
  docs/Security/ExchangeExtendedProtectionManagement.md
Owners: @microsoft/css-exchange-admins

Deployed c25a21dd with MkDocs version: 1.3.1
  Security/ExchangeExtendedProtectionManagement/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Moved Add-ScriptBlockInjection to Shared/InvokeCommand
  Diagnostics/ExchangeLogCollector/Helpers/Test-DiskSpace.ps1
  Diagnostics/ExchangeLogCollector/Write/Write-LargeDataObjectsOnMachine.ps1
  Shared/InvokeCommand/Add-ScriptBlockInjection.ps1
Owners: @microsoft/css-exchange-admins

Create InvokeCommandJobQueue
  Shared/InvokeCommand/InvokeCommandJobQueue.ps1
Owners: @microsoft/css-exchange-admins

Moved Invoke-ScriptBlockHandler to Shared/InvokeCommand
  Admin/SetUnifiedContentPath/SetUnifiedContentPath.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExSetupDetails.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeAppPoolsInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeApplicationConfigurationFileValidation.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeEmergencyMitigationServiceState.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeIISConfigSettings.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-FIPFSScanEngineVersionState.ps1
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-DotNetDllFileVersions.ps1
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-HttpProxySetting.ps1
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-OperatingSystemInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-ProcessorInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-Smb1ServerSettings.ps1
  Security/src/ExchangeExtendedProtectionManagement/ConfigurationAction/Invoke-ConfigureExtendedProtection.ps1
  Security/src/ExchangeExtendedProtectionManagement/ConfigurationAction/Invoke-RollbackExtendedProtection.ps1
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Get-ExtendedProtectionConfiguration.ps1
  Shared/Get-ServerRebootPending.ps1
  Shared/IISFunctions/Get-ApplicationHostConfig.ps1
  Shared/InvokeCommand/Invoke-ScriptBlockHandler.ps1
  Shared/TLS/Get-AllTlsSettings.ps1
  Shared/VisualCRedistributableVersionFunctions.ps1
Owners: @microsoft/css-exchange-admins

Rework error reporting
  Shared/ActiveDirectoryFunctions/Get-ADReplicationStatus.ps1
Owners: @microsoft/css-exchange-admins

Deployed 22fbb49c with MkDocs version: 1.3.1
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Do not lose characters due to wrap
  Shared/Out-Columns.ps1
Owners: @microsoft/css-exchange-admins

Improved logic for running Get-ExchangeServer for the passed CasServerList
  Diagnostics/HealthChecker/Features/Get-CasLoadBalancingReport.ps1
Owners: @microsoft/css-exchange-admins

Add HTML Report option for NLB Report
  Diagnostics/HealthChecker/Features/Get-CasLoadBalancingReport.ps1
Owners: @microsoft/css-exchange-admins

Added File output Information for HTML
  Diagnostics/HealthChecker/Features/Get-CasLoadBalancingReport.ps1
Owners: @microsoft/css-exchange-admins

MS-Organization-P2P-Access fix
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeServerCertificates.ps1
Owners: @microsoft/css-exchange-admins

Deployed ad27bce6 with MkDocs version: 1.3.1
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Add parameter options to ShowEP
  Security/src/ExchangeExtendedProtectionManagement/ExchangeExtendedProtectionManagement.ps1
Owners: @microsoft/css-exchange-admins

Deployed 8f06191f with MkDocs version: 1.3.1
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Fixed indentation of failing Probes
  docs/Security/Extended-Protection.md
Owners: @tweekerz, @microsoft/css-exchange-admins

Update date string format
  Diagnostics/HealthChecker/Features/Get-CasLoadBalancingReport.ps1
Owners: @microsoft/css-exchange-admins

Add sort object on Get-ExchangeServer
  Diagnostics/HealthChecker/Features/Get-CasLoadBalancingReport.ps1
Owners: @microsoft/css-exchange-admins

Deployed 83e4df30 with MkDocs version: 1.3.1
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Deployed 042998be with MkDocs version: 1.3.1
  Security/Extended-Protection/index.html
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Added zero day vulnerability
  docs/Emerging-Issues.md
Owners: @Batre-MSFT, @tweekerz, @ninobb, @nasir1786, @microsoft/css-exchange-admins

Add EOMTv2 document
  docs/Security/EOMTv2.md
Owners: @microsoft/css-exchange-admins

Updated version link and vuln link
  Security/src/EOMTv2.ps1
Owners: @microsoft/css-exchange-admins

Docs index fix
  mkdocs.yml
Owners: @microsoft/css-exchange-admins

Removed parameter [switch]RunFullScan, from the script
  Security/src/EOMTv2.ps1
Owners: @microsoft/css-exchange-admins

Minor fixes
  Security/src/EOMTv2.ps1
Owners: @microsoft/css-exchange-admins

EOMTv2 initial version
  Security/src/EOMTv2.ps1
Owners: @microsoft/css-exchange-admins

Update the aka.ms link for version URL
  Security/src/EOMTv2.ps1
Owners: @microsoft/css-exchange-admins

Escape the $ so we show the correct syntax
  PublicFolders/SourceSideValidations/Tests/MailEnabledFolder/Write-TestMailEnabledFolderResult.ps1
Owners: @microsoft/css-exchange-admins

.github/CODEOWNERS:

# Default owners
*   @microsoft/css-exchange-admins

# Rob Whaley owns these
/Hybrid/                                @tweekerz @microsoft/css-exchange-admins
/Retention/                             @tweekerz @microsoft/css-exchange-admins
/docs/Security/Extended-Protection.md   @tweekerz @microsoft/css-exchange-admins

# Supportability owns this doc
/docs/Emerging-Issues.md    @Batre-MSFT @tweekerz @ninobb @nasir1786 @microsoft/css-exchange-admins
