Repository microsoft/CSS-Exchange, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/css-exchange-admins, @tweekerz, @Batre-MSFT, @ninobb, @nasir1786

.github/CODEOWNERS:

# Default owners
*   @microsoft/css-exchange-admins

# Rob Whaley owns these
/Hybrid/                                @tweekerz @microsoft/css-exchange-admins
/Retention/                             @tweekerz @microsoft/css-exchange-admins
/docs/Security/Extended-Protection.md   @tweekerz @microsoft/css-exchange-admins

# Supportability owns this doc
/docs/Emerging-Issues.md    @Batre-MSFT @tweekerz @ninobb @nasir1786 @microsoft/css-exchange-admins

Include W3wp process in the analysis.
  Diagnostics/AVTester/Test-ExchAVExclusions.ps1
Owners: @microsoft/css-exchange-admins

adding clarification and verify dll and ni.dll
  Diagnostics/AVTester/Test-ExchAVExclusions.ps1
Owners: @microsoft/css-exchange-admins

Add NormalizedSubject back and expanded SCN and RT
  Calendar/Get-CalendarDiagnosticObjectsSummary.ps1
Owners: @microsoft/css-exchange-admins

Found extra use of OnlineMeeting stuff
  Calendar/Get-CalendarDiagnosticObjectsSummary.ps1
Owners: @microsoft/css-exchange-admins

rename dlls and change output file
  Diagnostics/AVTester/Test-ExchAVExclusions.ps1
Owners: @microsoft/css-exchange-admins

Adjustments based on review
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-ServerOperatingSystemVersion.ps1
Owners: @microsoft/css-exchange-admins

Moved base params to begin
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-ServerOperatingSystemVersion.ps1
Owners: @microsoft/css-exchange-admins

Removing empty lines
  Diagnostics/AVTester/Test-ExchAVExclusions.ps1
Owners: @microsoft/css-exchange-admins

only show warning for AES256-CBC if IRM is enabled
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecuritySettings.ps1
  Diagnostics/HealthChecker/DataCollection/OrganizationInformation/Get-OrganizationInformation.ps1
Owners: @microsoft/css-exchange-admins

Update logic for IRM callout. Make Red for InternalLicensingEnabled
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecuritySettings.ps1
Owners: @microsoft/css-exchange-admins

Pester testing for AES256-CBC Protected Content Support
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecuritySettings.ps1
  Diagnostics/HealthChecker/Tests/DataCollection/E15/Exchange/GetIrmConfiguration.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E16/Exchange/GetIrmConfiguration.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/GetIrmConfiguration.xml
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthCheckerTest.CommonMocks.NotPublished.ps1
Owners: @microsoft/css-exchange-admins

Deployed 9d49097b with MkDocs version: 1.5.3
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Deployed 01f53442 with MkDocs version: 1.5.3
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Deployed a7db6026 with MkDocs version: 1.5.3
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Updated Properly Secure and Supported Logic for EP
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityExtendedProtectionConfigState.ps1
  Security/src/ExchangeExtendedProtectionManagement/ExchangeExtendedProtectionManagement.ps1
  Shared/Get-ExtendedProtectionConfiguration.ps1
  Shared/Tests/ExtendedProtection/Get-ExtendedProtectionConfiguration.Tests.ps1
Owners: @microsoft/css-exchange-admins

Use -contains for the mitigationSupportedVDirs variable instead of Contains() and ToLower()
  Shared/Get-ExtendedProtectionConfiguration.ps1
Owners: @microsoft/css-exchange-admins

Switch OAB Default Web Site to Allow for EP
  Shared/Get-ExtendedProtectionConfiguration.ps1
  docs/Security/Extended-Protection.md
Owners: @microsoft/css-exchange-admins, @tweekerz

Update pester testing to have OAB Default Web set to Allow
  Shared/Get-ExtendedProtectionConfiguration.ps1
  Shared/Tests/ExtendedProtection/Data/E15_Configured_Both_ApplicationHost.config
  Shared/Tests/ExtendedProtection/Data/E15_Configured_Cas_ApplicationHost.config
  Shared/Tests/ExtendedProtection/Data/E16_Configured_ApplicationHost.config
  Shared/Tests/ExtendedProtection/Data/E16_Configured_IPFilter_ApplicationHost.config
  Shared/Tests/ExtendedProtection/Data/E19_Configured_ApplicationHost.config
  Shared/Tests/ExtendedProtection/Data/E19_Configured_IPFilter_ApplicationHost.config
  Shared/Tests/ExtendedProtection/Get-ExtendedProtectionConfiguration.Tests.ps1
Owners: @microsoft/css-exchange-admins

updated extended protection doc to have note about OAB update
  docs/Security/Extended-Protection.md
Owners: @tweekerz, @microsoft/css-exchange-admins

Created pester testing regarding mixed configuration of supported, recommended, and secured values
  Shared/Tests/ExtendedProtection/Data/E19_MisConfigured_ApplicationHost.config
  Shared/Tests/ExtendedProtection/Get-ExtendedProtectionConfiguration.Tests.ps1
Owners: @microsoft/css-exchange-admins

Add pester testing for HC not supported scenario
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerExchangeInformation.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Scenarios.Tests.ps1
Owners: @microsoft/css-exchange-admins

Unsupported scenarios flagged in Health Checker for Extended Protection even when secured.
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerExchangeInformation.ps1
Owners: @microsoft/css-exchange-admins

October 2023 SU information and vulnerabilities
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityCveCheck.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Main.Tests.ps1
  Shared/Get-ExchangeBuildVersionInformation.ps1
Owners: @microsoft/css-exchange-admins

CVE-2023-36434 (TokenCacheModule) work
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerIISInformation.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityCve-2023-21709.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityCve-2023-36434.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityCveCheck.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-ExchangeServerIISSettings.ps1
  Diagnostics/HealthChecker/Tests/DataCollection/E15/Exchange/IIS/GetVersionInformationCachTokn.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E16/Exchange/IIS/GetVersionInformationCachTokn.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/IIS/GetVersionInformationCachTokn.xml
  Diagnostics/HealthChecker/Tests/HealthChecker.MockedCalls.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthCheckerTest.CommonMocks.NotPublished.ps1
Owners: @microsoft/css-exchange-admins

TokenCacheModule unit tests added
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/GetIISModulesNoTokenCacheModule.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/IIS/GetVersionInformationCachToknPatched.xml
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Scenarios2.Tests.ps1
Owners: @microsoft/css-exchange-admins

Update wording about the two CVEs for TokenModule
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerIISInformation.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityCve-2023-36434.ps1
Owners: @microsoft/css-exchange-admins

Improved pester test results/speed and fixed minor code issues
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerIISInformation.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityCve-2023-36434.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Scenarios.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Scenarios2.Tests.ps1
Owners: @microsoft/css-exchange-admins

CVE-2023-21709 update to reflect October 23 SU
  Security/src/CVE-2023-21709/CVE-2023-21709.ps1
  docs/Security/CVE-2023-21709.md
Owners: @microsoft/css-exchange-admins

Wording adjusted
  Security/src/CVE-2023-21709/CVE-2023-21709.ps1
  docs/Security/CVE-2023-21709.md
Owners: @microsoft/css-exchange-admins

Deployed 138bce93 with MkDocs version: 1.5.3
  Security/CVE-2023-21709/index.html
  Security/Extended-Protection/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Update Emerging-Issues.md
  docs/Emerging-Issues.md
Owners: @Batre-MSFT, @tweekerz, @ninobb, @nasir1786, @microsoft/css-exchange-admins

Deployed 2012c06d with MkDocs version: 1.5.3
  Emerging-Issues/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

TokenCacheModule in HTML report
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerIISInformation.ps1
Owners: @microsoft/css-exchange-admins

Deployed 963b760c with MkDocs version: 1.5.3
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Return all IIS loaded modules
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityIISModules.ps1
  Shared/IISFunctions/Get-IISModules.ps1
  Shared/Tests/Get-IISModules.Tests.ps1
Owners: @microsoft/css-exchange-admins

Address not thrown Get-DynamicDistributionGroup error
  Diagnostics/HealthChecker/DataCollection/OrganizationInformation/Get-OrganizationInformation.ps1
Owners: @microsoft/css-exchange-admins

Deployed cc2e1681 with MkDocs version: 1.5.3
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Tweak RBA Script
  Calendar/Get-RBASummary.ps1
Owners: @microsoft/css-exchange-admins

Clarify prompt
  Diagnostics/ExchangeLogCollector/Helpers/Test-DiskSpace.ps1
Owners: @microsoft/css-exchange-admins

Update ExTRA.ps1
  Diagnostics/ExTRA/ExTRA.ps1
Owners: @microsoft/css-exchange-admins
