Repository microsoft/CSS-Exchange, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/css-exchange-admins, @tweekerz, @Batre-MSFT, @ninobb, @nasir1786

.github/CODEOWNERS:

# Default owners
*   @microsoft/css-exchange-admins

# Rob Whaley owns these
/Hybrid/                                @tweekerz @microsoft/css-exchange-admins
/Retention/                             @tweekerz @microsoft/css-exchange-admins
/docs/Security/Extended-Protection.md   @tweekerz @microsoft/css-exchange-admins

# Supportability owns this doc
/docs/Emerging-Issues.md    @Batre-MSFT @tweekerz @ninobb @nasir1786 @microsoft/css-exchange-admins

Deployed 083b413d with MkDocs version: 1.4.2
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Use shared TrustAnyCertificateCallback function
  Admin/MonitorExchangeAuthCertificate/MonitorExchangeAuthCertificate.ps1
  Shared/EMailFunctions/Send-EwsMailMessage.ps1
Owners: @microsoft/css-exchange-admins

Deployed 5ace923a with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Block PowerShell Core from running with the script
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
Owners: @microsoft/css-exchange-admins

Preparing CertBasedAuth
  .build/cspell-words.txt
  Hybrid/Test-HMAEAS.ps1
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
  Shared/AzureFunctions/Get-NewJsonWebToken.ps1
  docs/Security/CVE-2023-23397/FAQ.md
  docs/Security/CVE-2023-23397/index.md
Owners: @microsoft/css-exchange-admins, @tweekerz

Deployed 85564ae9 with MkDocs version: 1.4.2
  Security/CVE-2023-23397/FAQ/index.html
  Security/CVE-2023-23397/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Prevent Pester from running when only non PS1 files are changed
  .build/CodeFormatter.ps1
  .build/HelpFunctions/Get-CommitFilesOnBranch.ps1
  .build/Pester.ps1
  azure-pipeline-merge.yml
Owners: @microsoft/css-exchange-admins

Deployed c67503e8 with MkDocs version: 1.4.2
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Update Get-SimpleAuditLogReport.md
  docs/Admin/Get-SimpleAuditLogReport.md
Owners: @microsoft/css-exchange-admins

Deployed 613d03da with MkDocs version: 1.4.2
  Admin/Get-SimpleAuditLogReport/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Update wording of missing property
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
Owners: @microsoft/css-exchange-admins

Don't log already clean items as failures
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
Owners: @microsoft/css-exchange-admins

Deployed ebe3302f with MkDocs version: 1.4.2
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Prepare SearchFolder feature GA
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
  docs/Security/CVE-2023-23397/FAQ.md
  docs/Security/CVE-2023-23397/index.md
Owners: @microsoft/css-exchange-admins

Typo fixed
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
Owners: @microsoft/css-exchange-admins

Parameter description updated as per review
  docs/Security/CVE-2023-23397/index.md
Owners: @microsoft/css-exchange-admins

Adding Process analysis
  Diagnostics/AVTester/Test-ExchAVExclusions.ps1
  docs/Diagnostics/Test-ExchAVExclusions.md
Owners: @microsoft/css-exchange-admins

Deployed ae6265c9 with MkDocs version: 1.4.2
  Security/CVE-2023-23397/FAQ/index.html
  Security/CVE-2023-23397/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Fix autodiscover redirection failure issue
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
Owners: @microsoft/css-exchange-admins

Deployed 2add0a6c with MkDocs version: 1.4.2
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Fix spelling
  .build/cspell-words.txt
  Diagnostics/AVTester/Test-ExchAVExclusions.ps1
Owners: @microsoft/css-exchange-admins

[Issue] CVE-2023-23397.ps1 failed to add API permission in Gallatin environment
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
Owners: @microsoft/css-exchange-admins

Don't include date filter in search folder criteria
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
Owners: @microsoft/css-exchange-admins

Update Exchange-Protection.md
  docs/Security/Extended-Protection.md
Owners: @tweekerz, @microsoft/css-exchange-admins

Deployed 5ca18aaa with MkDocs version: 1.4.2
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Remove AzureAD module dependencies
  .build/cspell-words.txt
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
  Shared/AzureFunctions/Convert-JsonWebTokenToObject.ps1
  Shared/AzureFunctions/Get-CloudServiceEndpoint.ps1
  Shared/AzureFunctions/Get-GraphAccessToken.ps1
  Shared/AzureFunctions/Get-NewS256CodeChallengeVerifier.ps1
  Shared/AzureFunctions/Invoke-GraphApiRequest.ps1
  Shared/Helpers/Start-LocalListener.ps1
  Shared/ScriptUpdateFunctions/Invoke-WebRequestWithProxyDetection.ps1
  docs/Security/CVE-2023-23397/index.md
Owners: @microsoft/css-exchange-admins

Improvements to Start-LocalListener as per review
  Shared/Helpers/Start-LocalListener.ps1
Owners: @microsoft/css-exchange-admins

Deployed 56eeda0f with MkDocs version: 1.4.2
  Security/CVE-2023-23397/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Include additional information for output
  Search/Troubleshoot-ModernSearch/StoreQuery/Get-MailboxIndexMessageStatistics.ps1
  Search/Troubleshoot-ModernSearch/Write/Write-MailboxIndexMessageStatistics.ps1
Owners: @microsoft/css-exchange-admins

Address issue with no LastIndexingAttemptTime set
  Search/Troubleshoot-ModernSearch/Write/Write-MailboxIndexMessageStatistics.ps1
Owners: @microsoft/css-exchange-admins

Improve logic for getting DisplayName for folder
  Search/Troubleshoot-ModernSearch/StoreQuery/Get-CacheFolderInformation.ps1
  Search/Troubleshoot-ModernSearch/StoreQuery/Get-MailboxIndexMessageStatistics.ps1
  Search/Troubleshoot-ModernSearch/StoreQuery/Get-MessageIndexState.ps1
Owners: @microsoft/css-exchange-admins

Import the config file within the begin section
  Diagnostics/ExchangeLogCollector/ExchangeLogCollector.ps1
Owners: @microsoft/css-exchange-admins

Deployed be3e5d0b with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Update logic improved
  Shared/ScriptUpdateFunctions/Get-ScriptUpdateAvailable.ps1
  Shared/ScriptUpdateFunctions/Invoke-ScriptUpdate.ps1
  Shared/ScriptUpdateFunctions/Test-ScriptVersion.ps1
Owners: @microsoft/css-exchange-admins

Revert "Update logic improved"
  Shared/ScriptUpdateFunctions/Get-ScriptUpdateAvailable.ps1
  Shared/ScriptUpdateFunctions/Invoke-ScriptUpdate.ps1
  Shared/ScriptUpdateFunctions/Test-ScriptVersion.ps1
Owners: @microsoft/css-exchange-admins

Show warning if no matching script was found
  Shared/ScriptUpdateFunctions/Get-ScriptUpdateAvailable.ps1
Owners: @microsoft/css-exchange-admins

Deployed 298ccedd with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Add -SkipSearchFolderCreation switch
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
  docs/Security/CVE-2023-23397/index.md
Owners: @microsoft/css-exchange-admins

Deployed 73a937d3 with MkDocs version: 1.4.2
  Security/CVE-2023-23397/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Add functionality to import auth certificates
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/Import-ExchangeAuthCertificateToServers.ps1
  Admin/MonitorExchangeAuthCertificate/DataCollection/Get-ExchangeAuthCertificateStatus.ps1
  Admin/MonitorExchangeAuthCertificate/DataCollection/Tests/Get-ExchangeAuthCertificateStatus.Tests.ps1
  Admin/MonitorExchangeAuthCertificate/MonitorExchangeAuthCertificate.ps1
Owners: @microsoft/css-exchange-admins
