Repository microsoft/CSS-Exchange, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/css-exchange-admins, @tweekerz, @Batre-MSFT, @ninobb, @nasir1786

.github/CODEOWNERS:

# Default owners
*   @microsoft/css-exchange-admins

# Rob Whaley owns these
/Hybrid/                                @tweekerz @microsoft/css-exchange-admins
/Retention/                             @tweekerz @microsoft/css-exchange-admins
/docs/Security/Extended-Protection.md   @tweekerz @microsoft/css-exchange-admins

# Supportability owns this doc
/docs/Emerging-Issues.md    @Batre-MSFT @tweekerz @ninobb @nasir1786 @microsoft/css-exchange-admins

Refactor VSSTester
  .build/cspell-words.txt
  Databases/README.md
  Databases/VSSTester/DiskShadow/Invoke-CreateDiskShadowFile.ps1
  Databases/VSSTester/DiskShadow/Invoke-DiskShadow.ps1
  Databases/VSSTester/DiskShadow/Invoke-RemoveExposedDrives.ps1
  Databases/VSSTester/ExchangeInformation/Get-CopyStatus.ps1
  Databases/VSSTester/ExchangeInformation/Get-Databases.ps1
  Databases/VSSTester/ExchangeInformation/Get-DbToBackup.ps1
  Databases/VSSTester/ExchangeInformation/Get-ExchangeVersion.ps1
  Databases/VSSTester/Logging/Get-VSSWriter.ps1
  Databases/VSSTester/Logging/Get-VSSWritersAfter.ps1
  Databases/VSSTester/Logging/Get-VSSWritersBefore.ps1
  Databases/VSSTester/Logging/Get-WindowsEventLogs.ps1
  Databases/VSSTester/Logging/Invoke-CreateExtraTracingConfig.ps1
  Databases/VSSTester/Logging/Invoke-DisableDiagnosticsLogging.ps1
  Databases/VSSTester/Logging/Invoke-DisableExtraTracing.ps1
  Databases/VSSTester/Logging/Invoke-DisableVSSTracing.ps1
  Databases/VSSTester/Logging/Invoke-EnableDiagnosticsLogging.ps1
  Databases/VSSTester/Logging/Invoke-EnableExtraTracing.ps1
  Databases/VSSTester/Logging/Invoke-EnableVSSTracing.ps1
  Databases/VSSTester/VSSTester.ps1
  docs/Databases/VSSTester.md
  docs/Databases/start_screen.PNG
Owners: @microsoft/css-exchange-admins

Documentation updated
  docs/Diagnostics/HealthChecker/DownloadDomainCheck.md
  docs/Diagnostics/HealthChecker/SerializedDataSigningCheck.md
  docs/Security/Extended-Protection.md
Owners: @microsoft/css-exchange-admins, @tweekerz

Update docs/Diagnostics/HealthChecker/SerializedDataSigningCheck.md
  docs/Diagnostics/HealthChecker/SerializedDataSigningCheck.md
Owners: @microsoft/css-exchange-admins

Update docs/Security/Extended-Protection.md
  docs/Security/Extended-Protection.md
Owners: @tweekerz, @microsoft/css-exchange-admins

Deployed 7aeec5df with MkDocs version: 1.5.3
  Diagnostics/HealthChecker/DownloadDomainCheck/index.html
  Diagnostics/HealthChecker/SerializedDataSigningCheck/index.html
  Security/Extended-Protection/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Evaluate self-hosted agent
  azure-pipeline-merge.yml
Owners: @microsoft/css-exchange-admins

Fix cspell?
  .build/SpellCheck.ps1
Owners: @microsoft/css-exchange-admins

PR comments
  Calendar/Get-CalendarDiagnosticObjectsSummary.ps1
Owners: @microsoft/css-exchange-admins

PR fixes, pass ID to BuildTimeline
  Calendar/Get-CalendarDiagnosticObjectsSummary.ps1
Owners: @microsoft/css-exchange-admins

Don't use semicolons as line terminators enabled
  PSScriptAnalyzerSettings.psd1
Owners: @microsoft/css-exchange-admins

Removed semicolon at the end of line
  .build/Build.ps1
  .build/CodeFormatterChecks/CheckScriptFileHasBOM.ps1
  Admin/Find-AmbiguousSids.ps1
  Admin/Update-Engines.ps1
  Calendar/Check-SharingStatus.ps1
  Calendar/Get-CalendarDiagnosticObjectsSummary.ps1
  Calendar/Get-RBASummary.ps1
  Databases/Analyze-SpaceDump.ps1
  Diagnostics/AVTester/Start-SleepWithProgress.ps1
  Diagnostics/ExchangeLogCollector/RemoteScriptBlock/IO/Save-ServerInfoData.ps1
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerHybridInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Tests/Get-ExchangeConnectors.Tests.ps1
  Diagnostics/HealthChecker/HealthChecker.ps1
  Diagnostics/ManagedAvailabilityTroubleshooter/ManagedAvailabilityTroubleshooter.ps1
  Performance/ExPerfAnalyzer.ps1
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
  Security/src/EOMT.ps1
  Security/src/EOMTv2.ps1
  Security/src/ExchangeExtendedProtectionManagement/ConfigurationAction/Invoke-ConfigureMitigation.ps1
  Security/src/ExchangeExtendedProtectionManagement/ConfigurationAction/Invoke-RollbackIPFiltering.ps1
  Security/src/ExchangeExtendedProtectionManagement/ConfigurationAction/Invoke-ValidateMitigation.ps1
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Invoke-ExtendedProtectionTlsPrerequisitesCheck.ps1
  Shared/Get-ExtendedProtectionConfiguration.ps1
  Transport/Compute-TopExoRecipientsFromMessageTrace.ps1
Owners: @microsoft/css-exchange-admins

Deployed ac997781 with MkDocs version: 1.5.3
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Bug fix for invalid date during AuthCert renewal
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/New-ExchangeAuthCertificate.ps1
  Admin/MonitorExchangeAuthCertificate/DataCollection/Get-ExchangeAuthCertificateStatus.ps1
  Admin/MonitorExchangeAuthCertificate/MonitorExchangeAuthCertificate.ps1
Owners: @microsoft/css-exchange-admins

Another code logic improvement
  Admin/MonitorExchangeAuthCertificate/DataCollection/Get-ExchangeAuthCertificateStatus.ps1
Owners: @microsoft/css-exchange-admins

Handling for non-existing certificates improved
  Admin/MonitorExchangeAuthCertificate/DataCollection/Get-ExchangeAuthCertificateStatus.ps1
Owners: @microsoft/css-exchange-admins

Code improvements to better handle cert expiry
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/New-ExchangeAuthCertificate.ps1
  Admin/MonitorExchangeAuthCertificate/DataCollection/Get-ExchangeAuthCertificateStatus.ps1
Owners: @microsoft/css-exchange-admins

Unit test updated
  Admin/MonitorExchangeAuthCertificate/DataCollection/Tests/Get-ExchangeAuthCertificateStatus.Tests.ps1
Owners: @microsoft/css-exchange-admins

Adding a new script to check for Hybrid Free Busy
  Diagnostics/FreeBusyChecker/FreeBusyChecker.ps1
  docs/Diagnostics/FreeBusyChecker/FreeBusyChecker.md
  docs/Diagnostics/FreeBusyChecker/image1.png
  docs/Diagnostics/FreeBusyChecker/image2.png
  docs/Diagnostics/FreeBusyChecker/image3.png
  mkdocs.yml
Owners: @microsoft/css-exchange-admins

Deployed 726425cb with MkDocs version: 1.5.3
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Save RBA Log, RBA Logs summary, Better coverage of known issues
  Calendar/Get-RBASummary.ps1
Owners: @microsoft/css-exchange-admins

tweak msg
  Calendar/Get-RBASummary.ps1
Owners: @microsoft/css-exchange-admins

Update Emerging-Issues.md
  docs/Emerging-Issues.md
Owners: @Batre-MSFT, @tweekerz, @ninobb, @nasir1786, @microsoft/css-exchange-admins

Output changes, parameter for waiting time.
  Diagnostics/AVTester/Test-ExchAVExclusions.ps1
  docs/Diagnostics/Test-ExchAVExclusions.md
Owners: @microsoft/css-exchange-admins

Update VSSTester.md
  docs/Databases/VSSTester.md
Owners: @microsoft/css-exchange-admins

Update VSSTester.md
  docs/Databases/VSSTester.md
Owners: @microsoft/css-exchange-admins

Deployed 87cc1a3b with MkDocs version: 1.5.3
  Databases/VSSTester/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Add High Performance (ConfigMgr) powerplan
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-PowerPlanSetting.ps1
Owners: @microsoft/css-exchange-admins

Typo fixed
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-PowerPlanSetting.ps1
Owners: @microsoft/css-exchange-admins

Deployed 2417c266 with MkDocs version: 1.5.3
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins

Modified the outputpath and doc
  Diagnostics/AVTester/Test-ExchAVExclusions.ps1
  Diagnostics/AVTester/Write-SimpleLogFile.ps1
  docs/Diagnostics/Test-ExchAVExclusions.md
Owners: @microsoft/css-exchange-admins

Fix Set-ExchAVExclusions and use just one param
  Diagnostics/AVTester/Test-ExchAVExclusions.ps1
  Diagnostics/AVTester/Write-SimpleLogFile.ps1
  Setup/SetExchAVExclusions/Set-ExchAVExclusions.ps1
Owners: @microsoft/css-exchange-admins

Updated Set-ExchAVExclusions docs
  docs/Setup/Set-ExchAVExclusions.md
Owners: @microsoft/css-exchange-admins

Adding Outputing of Sharing Type specifically
  Calendar/Check-SharingStatus.ps1
Owners: @microsoft/css-exchange-admins

Skip checks if they are not using modern sharing
  Calendar/Check-SharingStatus.ps1
Owners: @microsoft/css-exchange-admins

Adding Outputing of Sharing Type specifically
  Calendar/Check-SharingStatus.ps1
Owners: @microsoft/css-exchange-admins

Clean
  Calendar/Check-SharingStatus.ps1
Owners: @microsoft/css-exchange-admins

Update Summary output
  Calendar/Get-CalendarDiagnosticObjectsSummary.ps1
Owners: @microsoft/css-exchange-admins

Update EWS short name mapping
  Calendar/Get-CalendarDiagnosticObjectsSummary.ps1
Owners: @microsoft/css-exchange-admins

CodeFormatter
  Calendar/Get-CalendarDiagnosticObjectsSummary.ps1
Owners: @microsoft/css-exchange-admins

Deployed 4898c20e with MkDocs version: 1.5.3
  sitemap.xml
  sitemap.xml.gz
Owners: @microsoft/css-exchange-admins
