Repository microsoft/CSS-Exchange, pull requests merged in 2022-05, with the labels that each got.

#1000 Exclude Get-ExchangeIISConfigSettings call on Edge Servers
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeInformation.ps1
Labels: Issue, Health Checker

#1013 Failed to load ActiveDirectory module fix
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeAdPermissions.ps1
Labels: Issue, Health Checker

#1016 Health Checker Improved logging for Error context
  Diagnostics/HealthChecker/Helpers/Get-ErrorsThatOccurred.ps1
Labels: enhancement, Health Checker

#1024 Don't call Cve Analyzer
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityCveCheck.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E15.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Tests.ps1
Labels: Health Checker

#1026 Bring back Get-ExchangeADPermissions
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityCveCheck.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeAdPermissions.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E15.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Tests.ps1
Labels: Health Checker

#1023 Exchange Log Collector Changes
  Diagnostics/ExchangeLogCollector/RemoteScriptBlock/IO/Copy-LogsBasedOnTime.ps1
  Diagnostics/ExchangeLogCollector/RemoteScriptBlock/IO/Save-FailoverClusterInformation.ps1
  Diagnostics/ExchangeLogCollector/RemoteScriptBlock/IO/Save-RegistryHive.ps1
  Diagnostics/ExchangeLogCollector/RemoteScriptBlock/IO/Save-ServerInfoData.ps1
  Diagnostics/ExchangeLogCollector/RemoteScriptBlock/Invoke-RemoteMain.ps1
  Diagnostics/ExchangeLogCollector/RemoteScriptBlock/LogCopyTaskActionFunctions.ps1
Labels: enhancement, Exchange Log Collector

#1032 Don't execute Get-ExchangeADPermissions on Edge
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityCve-2022-21978.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeInformation.ps1
Labels: Issue, Health Checker

#1037 Handle Common Issues with Get-WmiObject
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-WmiObjectCriticalHandler.ps1
Labels: Health Checker

#1039 Check path before Get-ChildItem is called
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeIISConfigSettings.ps1
Labels: Issue, Health Checker

#1040 Update wording for CVE failure check
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityCve-2022-21978.ps1
Labels: Health Checker

#1042 Add Feedback Form link for SetupAssist
  Setup/SetupAssist/SetupAssist.ps1
Labels: enhancement, Setup Assist

#1043 Handle No Setup Run on Server
  Setup/SetupAssist/Checks/Domain/Test-DomainMultiActiveSyncVirtualDirectories.ps1
  Setup/SetupAssist/Checks/LocalServer/Test-ExchangeServices.ps1
Labels: Issue, Setup Assist

#1044 Check for UCMA Installed
  Setup/SetupAssist/Checks/LocalServer/Test-PrerequisiteInstalled.ps1
Labels: enhancement, Setup Assist, New Feature/Check

#1045 SetupLogReviewer Check for Arbitration Mailbox UPN issue
  Setup/SetupLogReviewer/Checks/ErrorContext/Test-ArbitrationMailbox.ps1
  Setup/SetupLogReviewer/Checks/FindContext/Test-KnownIssuesByErrors.ps1
  Setup/Tests/KnownIssues/ExchangeSetup_Arbitration_UPN.log
  Setup/Tests/SetupLogReviewer.Tests.ps1
Labels: Issue, Setup Log Reviewer

#1049 Improve Logman Logic for Exchange Log Collector
  Diagnostics/ExchangeLogCollector/RemoteScriptBlock/IO/Copy-LogmanData.ps1
  Diagnostics/ExchangeLogCollector/RemoteScriptBlock/IO/LogmanFunctions.ps1
  Diagnostics/ExchangeLogCollector/RemoteScriptBlock/IO/Save-LogmanExmonData.ps1
  Diagnostics/ExchangeLogCollector/RemoteScriptBlock/IO/Save-LogmanExperfwizData.ps1
  Diagnostics/ExchangeLogCollector/RemoteScriptBlock/Invoke-RemoteMain.ps1
  Diagnostics/ExchangeLogCollector/RemoteScriptBlock/Logman/Get-LogmanData.ps1
  Diagnostics/ExchangeLogCollector/RemoteScriptBlock/Logman/Get-LogmanExt.ps1
  Diagnostics/ExchangeLogCollector/RemoteScriptBlock/Logman/Get-LogmanObject.ps1
  Diagnostics/ExchangeLogCollector/RemoteScriptBlock/Logman/Get-LogmanRootPath.ps1
  Diagnostics/ExchangeLogCollector/RemoteScriptBlock/Logman/Get-LogmanStartDate.ps1
  Diagnostics/ExchangeLogCollector/RemoteScriptBlock/Logman/Get-LogmanStatus.ps1
  Diagnostics/ExchangeLogCollector/RemoteScriptBlock/Logman/Start-Logman.ps1
  Diagnostics/ExchangeLogCollector/RemoteScriptBlock/Logman/Stop-Logman.ps1
Labels: enhancement, Exchange Log Collector

#1051 Don't check for configuration files on 2013 roles
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerFrequentConfigurationIssues.ps1
Labels: Issue, Health Checker

#1053 Make Get-ExchangeADPermissions work with split permissions
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeAdPermissions.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeDomainConfigVersion.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeInformation.ps1
Labels: Health Checker

#1066 Get-ExchangeADPermissions doesn't work properly on Windows Server 2012
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeAdPermissions.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeInformation.ps1
Labels: Issue, Health Checker

#1067 Include Script Update Logic to Search Script
  Search/Troubleshoot-ModernSearch.ps1
Labels: Search

#1079 Moved StoreQueryFunctions to Shared
  Search/Troubleshoot-ModernSearch.ps1
  Shared/StoreQueryFunctions.ps1
Labels: Search

#1083 Improved SetupAssist Logging
  Setup/SetupAssist/SetupAssist.ps1
  Setup/SetupAssist/WriteFunctions.ps1
Labels: enhancement, Setup, Setup Assist

#1084 Troubleshoot-ModernSearch Fixes
  Search/Troubleshoot-ModernSearch.ps1
  Search/Troubleshoot-ModernSearch/Exchange/Get-MailboxInformation.ps1
  Shared/StoreQueryFunctions.ps1
Labels: Search
