Repository microsoft/CSS-Exchange, pull requests merged in 2022-08, with the labels that each got.

#1132 HealthChecker IIS Modules Check
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerFrequentConfigurationIssues.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityCveCheck.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityIISModules.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeServerIISSettings.ps1
  Diagnostics/HealthChecker/Helpers/Class.ps1
  Diagnostics/HealthChecker/Tests/DataCollection/E15/Exchange/GetApplicationHostConfig.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E15/Exchange/GetIISModules.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E16/Exchange/GetApplicationHostConfig.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E16/Exchange/GetIISModules.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/GetApplicationHostConfig.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/GetIISModules.xml
  Diagnostics/HealthChecker/Tests/HealthChecker.E15.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthCheckerTest.CommonMocks.NotPublished.ps1
  Shared/IISFunctions/Get-ApplicationHostConfig.ps1
  Shared/IISFunctions/Get-IISModules.ps1
  Shared/Tests/Data/E16_applicationHost_Default.config
  Shared/Tests/Data/E16_applicationHost_Mixed.config
  Shared/Tests/Data/E19_applicationHost_Default.config
  Shared/Tests/Data/acs_Test-SignedBy3rdParty.xml
  Shared/Tests/Data/acs_Test-Unsigned.xml
  Shared/Tests/Data/acs_Test-UnsignedInvalid.xml
  Shared/Tests/Data/acs_authanon.xml
  Shared/Tests/Data/acs_authbas.xml
  Shared/Tests/Data/acs_authcert.xml
  Shared/Tests/Data/acs_authmd5.xml
  Shared/Tests/Data/acs_authsspi.xml
  Shared/Tests/Data/acs_cachfile.xml
  Shared/Tests/Data/acs_cachhttp.xml
  Shared/Tests/Data/acs_cachtokn.xml
  Shared/Tests/Data/acs_cachuri.xml
  Shared/Tests/Data/acs_compdyn.xml
  Shared/Tests/Data/acs_compstat.xml
  Shared/Tests/Data/acs_custerr.xml
  Shared/Tests/Data/acs_defdoc.xml
  Shared/Tests/Data/acs_dirlist.xml
  Shared/Tests/Data/acs_exppw.xml
  Shared/Tests/Data/acs_filter.xml
  Shared/Tests/Data/acs_iisetw.xml
  Shared/Tests/Data/acs_iisfreb.xml
  Shared/Tests/Data/acs_iisreqs.xml
  Shared/Tests/Data/acs_isapi.xml
  Shared/Tests/Data/acs_kerbauth.xml
  Shared/Tests/Data/acs_loghttp.xml
  Shared/Tests/Data/acs_modrqflt.xml
  Shared/Tests/Data/acs_protsup.xml
  Shared/Tests/Data/acs_redirect.xml
  Shared/Tests/Data/acs_rewrite.xml
  Shared/Tests/Data/acs_rpcproxy.xml
  Shared/Tests/Data/acs_static.xml
  Shared/Tests/Data/acs_validcfg.xml
  Shared/Tests/Data/acs_webengine4.xml
  Shared/Tests/Data/acs_wsmsvc.xml
  Shared/Tests/Get-IISModules.Tests.ps1
Labels: enhancement, Health Checker, New Feature/Check

#1158 Fixed false positive Security Vulnerability in HTML report
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityVulnerability.ps1
Labels: Issue, Health Checker

#1166 IIS modules check fails on Server 2012 / 2012 R2
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeServerIISSettings.ps1
  Shared/IISFunctions/Get-IISModules.ps1
  Shared/Tests/Get-IISModules.Tests.ps1
Labels: Issue, Health Checker

#1178 Fix Confirm-ExchangeShell for handling on Remote Shell and Tool boxes
  Diagnostics/HealthChecker/HealthChecker.ps1
  Diagnostics/HealthChecker/Helpers/Invoke-ScriptLogFileLocation.ps1
  Shared/Confirm-ExchangeShell.ps1
Labels: enhancement

#1187 EP NTLMv1 section added
  docs/Security/Extended-Protection.md
Labels: documentation, Extended Protection

#1191 Extended Protection NTLMv1 note formatting adjusted
  docs/Security/Extended-Protection.md
Labels: documentation, Extended Protection

#1200 Require EMS for Extended Protection
  Security/src/ExchangeExtendedProtectionManagement/ExchangeExtendedProtectionManagement.ps1
Labels: Issue, Extended Protection

#1199 Use Out-Columns for registry display
  Security/src/ExchangeExtendedProtectionManagement/ExchangeExtendedProtectionManagement.ps1
Labels: Extended Protection

#1203 Remove RODC check from SetupAssist
  Setup/SetupAssist/Checks/Domain/Test-ReadOnlyDomainControllerLocation.ps1
  Setup/SetupAssist/SetupAssist.ps1
Labels: Setup, Setup Assist

#1207 Extended Protection SchUseStrongCrypto wording adjusted
  docs/Security/Extended-Protection.md
Labels: documentation, Extended Protection

#1210 Add Server Setting Overrides to Health Checker
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerExchangeInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeInformation.ps1
  Diagnostics/HealthChecker/Helpers/Class.ps1
  Diagnostics/HealthChecker/Tests/DataCollection/E15/Exchange/GetExchangeSettingOverride.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E16/Exchange/GetExchangeSettingOverride.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/GetExchangeSettingOverride.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/GetExchangeSettingOverride1.xml
  Diagnostics/HealthChecker/Tests/HealthChecker.E15.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthCheckerTest.CommonMocks.NotPublished.ps1
  Shared/Get-ExchangeSettingOverride.ps1
Labels: enhancement, Health Checker, New Feature/Check
