Repository microsoft/CSS-Exchange, pull requests merged in 2022-11, with the labels that each got.

#1313 SetupAssist address update to latest version of Exchange
  Setup/SetupAssist/Checks/Domain/Test-ExchangeADSetupLevel.ps1
  Setup/SetupAssist/Checks/UserContext/Test-UserGroupMemberOf.ps1
  Setup/SetupAssist/SetupAssist.ps1
Labels: enhancement, Setup, Issue

#1315 Update to FixInstallerCache debugging information
  Setup/FixInstallerCache/FixInstallerCache.ps1
  Setup/FixInstallerCache/Invoke-IsoCopy.ps1
  Setup/FixInstallerCache/Invoke-MachineCopy.ps1
  Setup/FixInstallerCache/Invoke-TryCopyMissingPackages.ps1
  Setup/FixInstallerCache/WriteFunctions.ps1
  Setup/Shared/Get-FileInformation.ps1
  Setup/Shared/Get-InstallerPackages.ps1
  Shared/ErrorMonitorFunctions.ps1
Labels: enhancement, Setup

#1318 SetupAssist Check Token Group
  Setup/SetupAssist/Checks/UserContext/Test-UserGroupMemberOf.ps1
  Shared/ActiveDirectoryFunctions/Get-TokenGroupsGlobalAndUniversal.ps1
Labels: enhancement, Setup, Setup Assist

#1312 Exclude non-Exchange websites by default
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-ExchangeServerIISSettings.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-IISWebSite.ps1
  Diagnostics/HealthChecker/Tests/DataCollection/E15/Exchange/GetExchangeProtocolContainer.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E15/Exchange/GetExchangeWebSitesFromAd.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E16/Exchange/GetExchangeProtocolContainer.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E16/Exchange/GetExchangeWebSitesFromAd.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/GetExchangeProtocolContainer.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/GetExchangeWebSitesFromAd.xml
  Diagnostics/HealthChecker/Tests/HealthCheckerTest.CommonMocks.NotPublished.ps1
  Shared/ActiveDirectoryFunctions/Get-ExchangeProtocolContainer.ps1
  Shared/ActiveDirectoryFunctions/Get-ExchangeWebSitesFromAd.ps1
Labels: bug, Health Checker

#1324 Include known issue for ServiceControl.ps1 with Reverse
  Setup/SetupLogReviewer/Checks/ErrorContext/Test-ServiceControlReverse.ps1
  Setup/SetupLogReviewer/Checks/FindContext/Test-KnownIssuesByErrors.ps1
  Setup/Tests/KnownIssues/ExchangeSetup_ServiceControl_Reverse.log
  Setup/Tests/SetupLogReviewer.Tests.ps1
Labels: Setup Log Reviewer, New Feature/Check

#1334 Fix Local Domain Failure
  Setup/SetupAssist/Checks/Domain/Test-ExchangeADSetupLevel.ps1
  Setup/SetupAssist/Checks/UserContext/Test-UserGroupMemberOf.ps1
Labels: enhancement, Setup Assist

#1339 Place Get-ExchangeWebSitesFromAd in a try catch block
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-ExchangeServerIISSettings.ps1
  Shared/ActiveDirectoryFunctions/Get-ExchangeContainer.ps1
  Shared/ActiveDirectoryFunctions/Get-ExchangeProtocolContainer.ps1
Labels: Issue, Health Checker

#1345 Always use computer domain to bind to RootDSE
  .build/ValidateMerge.ps1
  Admin/Find-AmbiguousSids.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeAdPermissions.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeAdSchemaClass.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeDomainConfigVersion.ps1
  Security/src/Test-CVE-2021-34470.ps1
  Setup/SetupAssist/Checks/Domain/Test-ComputersContainerExists.ps1
  Setup/SetupAssist/Checks/Domain/Test-DomainControllerDnsHostName.ps1
  Setup/SetupAssist/Checks/Domain/Test-ExchangeADSetupLevel.ps1
  Shared/ActiveDirectoryFunctions/Get-ADReplicationStatus.ps1
  Shared/ActiveDirectoryFunctions/Get-ExchangeContainer.ps1
  Shared/ActiveDirectoryFunctions/Get-TokenGroupsGlobalAndUniversal.ps1
  Shared/ActiveDirectoryFunctions/Search-AllActiveDirectoryDomains.ps1
  Shared/Get-WellKnownGroupSid.ps1
Labels: enhancement, Health Checker, Setup Assist, Shared Function

#1349 Multiple EOMTv2 improvements
  Security/src/EOMTv2.ps1
Labels: Issue, Security

#1350 CVE-2022-21978 check doesn't work well when running AD split permissions
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeAdPermissions.ps1
  Diagnostics/HealthChecker/Tests/HealthCheckerTest.CommonMocks.NotPublished.ps1
  Shared/ActiveDirectoryFunctions/Get-ExchangeADSplitPermissionsEnabled.ps1
Labels: Issue, Health Checker

#1354 Get-NicPnpCapabilitiesSetting to handle null values without causing the script to stop
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-AllNicInformation.ps1
Labels: Issue, Health Checker
