Repository microsoft/CSS-Exchange, pull requests merged in 2022-06, with the labels that each got.

#1089 Changed failed to find known issue to warning
  Setup/SetupLogReviewer/Checks/FindContext/Write-LastErrorInformation.ps1
Labels: Setup Log Reviewer

#1090 Use otherWellKnownObjects to find Exchange groups
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeAdPermissions.ps1
  Setup/SetupAssist/Checks/Domain/Test-DomainOtherWellKnownObjects.ps1
  Shared/ActiveDirectoryFunctions/Get-ExchangeOtherWellKnownObjects.ps1
Labels: Issue, Health Checker

#1101 Health Checker Updates for Test-ScriptUpdate
  Diagnostics/HealthChecker/HealthChecker.ps1
Labels: Issue, Health Checker

#1107 Include Out of Date error in HTML output
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerExchangeInformation.ps1
Labels: enhancement, Health Checker

#1104 Adding SetUnifiedContentPath script
  Admin/SetUnifiedContentPath/Get-UnifiedContentInformation.ps1
  Admin/SetUnifiedContentPath/SetUnifiedContentPath.ps1
  Shared/Invoke-ScriptBlockHandler.ps1
  docs/Admin/SetUnifiedContentPath.md
  mkdocs.yml
Labels: New Tool Request, New Feature/Check

#1109 Initial documentation HC Scheduled Task
  docs/Diagnostics/HealthChecker/RunHCViaSchedTask.md
  mkdocs.yml
Labels: documentation, Health Checker

#992 ExchangeConnector unit test adjusted
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Tests/Get-ExchangeConnectors.Tests.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Tests/Get-ExchangeServerCertificates.Tests.ps1
Labels: Health Checker

#1110 Update Export Columns to Out-String
  Setup/SetupAssist/SetupAssist.ps1
Labels: Issue, Setup Assist

#1116 Do null check for ACLs and fallback if true
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeAdPermissions.ps1
Labels: Issue, Health Checker

#1115 Improve FIP-FS check logic to better handle fixed Exchange builds
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecuritySettings.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-FIPFSScanEngineVersionState.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Tests/Get-FIPFSScanEngineVersionState.Tests.ps1
  Diagnostics/HealthChecker/Helpers/Class.ps1
  Diagnostics/HealthChecker/Tests/DataCollection/E15/Exchange/GetFIPFSScanEngineVersionState.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E16/Exchange/GetFIPFSScanEngineVersionState.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/GetFIPFSScanEngineVersionState.xml
  Diagnostics/HealthChecker/Tests/HealthCheckerTest.CommonMocks.NotPublished.ps1
  docs/Diagnostics/HealthChecker/FIPFSCheck.md
Labels: Issue, Health Checker
