Repository microsoft/CSS-Exchange, pull requests merged in 2022-10, with the labels that each got.

#1265 Update to mitigation pattern
  Security/src/EOMTv2.ps1
Labels: Security

#1277 Call out broken web.config files for Cve-2022-41040
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityCve-2022-41040.ps1
Labels: Issue, Health Checker

#1280 Include -ADPropertiesOnly with Get-OutlookAnywhere
  Security/src/ExchangeExtendedProtectionManagement/ExchangeExtendedProtectionManagement.ps1
Labels: enhancement, Extended Protection

#1281 Update mitigation pattern
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityCve-2022-41040.ps1
  Security/src/EOMTv2.ps1
Labels: Security

#1285 Update PacketsLossCheck.md
  docs/Diagnostics/HealthChecker/PacketsLossCheck.md
Labels: documentation, Health Checker

#1254 Return TLS cipher suites on OS older than Windows Server 2016
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecuritySettings.ps1
  Shared/TLS/Get-AllTlsSettings.ps1
  Shared/TLS/Get-TlsCipherSuiteInformation.ps1
  Shared/TLS/Tests/Data/GetTlsCipherSuite.xml
  Shared/TLS/Tests/Data/TlsCipherGPOPath.xml
  Shared/TLS/Tests/Data/TlsCipherLocalPath.xml
  Shared/TLS/Tests/Get-TlsCipherSuiteInformation.Tests.ps1
Labels: Health Checker, Shared Function

#1288 Fix false/positive in proxy detection
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerOsInformation.ps1
Labels: Health Checker

#1289 Fix for EP failing probe known issue added to documentation
  docs/Security/Extended-Protection.md
Labels: documentation, Extended Protection

#1293 Adjustment to properly handle IP filtering configurations on other vDirs than EWS Back End
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityExtendedProtectionConfigState.ps1
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Get-ExtendedProtectionConfiguration.ps1
  Security/src/ExchangeExtendedProtectionManagement/ExchangeExtendedProtectionManagement.ps1
Labels: Health Checker, Extended Protection

#1295 Extended Protection SiteVDirLocations null value exception
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Get-ExtendedProtectionPrerequisitesCheck.ps1
Labels: Issue, High Priority, Extended Protection

#1298 Add option to skip auto update
  Security/src/ExchangeExtendedProtectionManagement/ExchangeExtendedProtectionManagement.ps1
  docs/Security/ExchangeExtendedProtectionManagement.md
Labels: Extended Protection

#1305 wmic command added to configure pagefile
  docs/Diagnostics/HealthChecker/PagefileSizeCheck.md
Labels: documentation, Health Checker

#1306 Error handling improvements for Exchange Log Collector
  Diagnostics/ExchangeLogCollector/ExchangeLogCollector.ps1
  Diagnostics/ExchangeLogCollector/RemoteScriptBlock/IO/Save-RegistryHive.ps1
  Diagnostics/ExchangeLogCollector/RemoteScriptBlock/IO/Save-ServerInfoData.ps1
  Shared/Write-ErrorInformation.ps1
Labels: enhancement, Issue, Exchange Log Collector

#1309 TLS 1.0 and 1.1 display output adjusted to recommend TLS 1.2 usage only
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecuritySettings.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E15.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Tests.ps1
  docs/Diagnostics/HealthChecker/TLSConfigurationCheck.md
Labels: enhancement, Health Checker
