Repository microsoft/CSS-Exchange, pull requests merged in 2022-12, with the labels that each got.

#1367 Fixed bug in Get-ApplicationHostConfig
  Shared/IISFunctions/Get-ApplicationHostConfig.ps1
Labels: bug, Health Checker

#1375 Fixed issue with supported version getting set to true
  Shared/Get-ExchangeBuildVersionInformation.ps1
  Shared/Tests/Get-ExchangeBuildVersionInformation.Tests.ps1
Labels: Issue, Health Checker

#1377 Address issue with always using FQDN
  Diagnostics/HealthChecker/Features/Invoke-HealthCheckerMainReport.ps1
Labels: bug, Health Checker

#1380 Fix doc link page
  docs/Diagnostics/HealthChecker/PacketsLossCheck.md
Labels: documentation, Health Checker

#1381 Move data Health Checker data collection to own function
  Diagnostics/HealthChecker/Features/Get-HealthCheckerData.ps1
  Diagnostics/HealthChecker/Features/Invoke-HealthCheckerMainReport.ps1
Labels: enhancement, Health Checker

#1383 Fix local computer failure with Invoke-Command
  Diagnostics/HealthChecker/Features/Get-HealthCheckerData.ps1
Labels: Issue, Health Checker

#1385 Update Get-HealthCheckFilesItemsFromLocation.ps1
  Diagnostics/HealthChecker/Helpers/Get-HealthCheckFilesItemsFromLocation.ps1
Labels: Issue, Health Checker

#1389 Add aka link for NUMA/all cores visible issue
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerHardwareInformation.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Tests.ps1
Labels: enhancement, Health Checker

#1391 Cherry Pick from PR to Release instead of Main
  Diagnostics/HealthChecker/Helpers/Get-HealthCheckFilesItemsFromLocation.ps1
Labels: Health Checker

#1395 Update AD Site Count
  Diagnostics/HealthChecker/DataCollection/OrganizationInformation/Get-OrganizationInformation.ps1
  docs/Diagnostics/HealthChecker/ADSiteCount.md
Labels: documentation, Health Checker

#1399 Handle convert to XML for applicationHostConfig
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-ExchangeServerIISSettings.ps1
Labels: Issue, Health Checker

#1401 Vulnerability Report Feature
  Diagnostics/HealthChecker/Features/Get-HealthCheckerData.ps1
  Diagnostics/HealthChecker/Features/Invoke-VulnerabilityReport.ps1
  Diagnostics/HealthChecker/HealthChecker.ps1
  Diagnostics/HealthChecker/Helpers/Get-ExportedHealthCheckerFiles.ps1
  Diagnostics/HealthChecker/Helpers/Get-HealthCheckFilesItemsFromLocation.ps1
  Diagnostics/HealthChecker/Helpers/Get-OnlyRecentUniqueServersXmls.ps1
  Diagnostics/HealthChecker/Helpers/Import-MyData.ps1
  docs/Diagnostics/HealthChecker/index.md
Labels: Health Checker, New Feature/Check
