Repository microsoft/CSS-Exchange, pull requests merged in 2022-09, with the labels that each got.

#1230 Adjustments to check for IP Filtering
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityExtendedProtectionConfigState.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Tests.ps1
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Get-ExtendedProtectionConfiguration.ps1
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Tests/Data/E16_Configured_IPFilter_ApplicationHost.config
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Tests/Data/E19_Configured_IPFilter_ApplicationHost.config
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Tests/Get-ExtendedProtectionConfiguration.Tests.ps1
  Security/src/ExchangeExtendedProtectionManagement/ExchangeExtendedProtectionManagement.ps1
Labels: Health Checker, New Feature/Check, Extended Protection

#1234 Blocking ExchangeShell issue fixed
  Security/src/ExchangeExtendedProtectionManagement/ExchangeExtendedProtectionManagement.ps1
Labels: bug, High Priority, Extended Protection

#1235 EP documentation adjustments
  docs/Security/ExchangeExtendedProtectionManagement.md
  docs/Security/Extended-Protection.md
Labels: documentation, Extended Protection

#1246 Fix to properly detect Azure certificates issued by MS-Organization-P2P-Access [YYYY]
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeServerCertificates.ps1
Labels: Health Checker

#1251 Health Checker NLB HTML Report Updates
  Diagnostics/HealthChecker/Features/Get-CasLoadBalancingReport.ps1
Labels: enhancement, Health Checker

#1250 Fixed indentation of failing Probes
  docs/Security/Extended-Protection.md
Labels: documentation, Extended Protection
