Repository microsoft/CSS-Exchange, pull requests merged in 2023-03, with the labels that each got.

#1526 Show servers on which the Auth Certificate is missing
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/New-ExchangeAuthCertificate.ps1
  Admin/MonitorExchangeAuthCertificate/DataCollection/Get-ExchangeAuthCertificateStatus.ps1
  Admin/MonitorExchangeAuthCertificate/DataCollection/Tests/Get-ExchangeAuthCertificateStatus.Tests.ps1
  Admin/MonitorExchangeAuthCertificate/MonitorExchangeAuthCertificate.ps1
Labels: enhancement, MonitorExchangeAuthCertificate

#1525 False Warning with ServerList parameter
  Diagnostics/HealthChecker/Features/Get-LoadBalancingReport.ps1
Labels: Health Checker

#1527 Update docs on Experfwiz for download link
  docs/Performance/ExPerfWiz.md
Labels: documentation

#1531 AV exclusions adjusted based on customer feedback
  Shared/Get-ExchAVExclusions.ps1
Labels: Maintenance Update, Shared Function

#1530 Do not write performance counter information to debug log
  Shared/Get-RemoteRegistryValue.ps1
Labels: enhancement, Shared Function

#1535 Log type and basetype to simplify troubleshooting
  Shared/Confirm-ExchangeShell.ps1
Labels: Shared Function

#1534 Fix issue when Get-OrganizationConfig fails to get data
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerOrganizationInformation.ps1
  Diagnostics/HealthChecker/DataCollection/OrganizationInformation/Get-OrganizationInformation.ps1
Labels: Issue, Health Checker

#1538 Fix Log Collector to make sure 10GB free space on the drive
  Diagnostics/ExchangeLogCollector/ExchangeLogCollector.ps1
Labels: Issue, Exchange Log Collector

#1540 Don't add files to list that don't exist any longer
  .build/CodeFormatter.ps1
Labels: Issue, Build Process

#1541 Properly handle errors that occur within Exchange Session re-launch
  Shared/Confirm-ExchangeShell.ps1
Labels: Issue, Shared Function

#1544 Update to the Extended Protection script and documentation
  Security/src/ExchangeExtendedProtectionManagement/ExchangeExtendedProtectionManagement.ps1
  docs/Security/Extended-Protection.md
Labels: documentation, Extended Protection

#1545 Extended Protection documentation updated
  docs/Security/Extended-Protection.md
Labels: documentation, Extended Protection

#1561 Updated CVE-2023-23397 documentation
  docs/Security/CVE-2023-23397.md
Labels: documentation

#1566 Improvements to the CVE-2023-23397 script
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
  docs/Security/CVE-2023-23397.md
Labels: documentation, Security

#1570 Create FAQ
  docs/Security/CVE-2023-23397/FAQ.md
  docs/Security/CVE-2023-23397/attachments/CVE-2023-23397_screenshot1.png
  docs/Security/CVE-2023-23397/attachments/CVE-2023-23397_screenshot2.png
  docs/Security/CVE-2023-23397/attachments/CVE-2023-23397_screenshot3.png
  docs/Security/CVE-2023-23397/index.md
  mkdocs.yml
Labels: documentation, Security

#1577 Add X-AnchorMailbox header
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
Labels: CVE-2023-23397 Script

#1580 Add troubleshooting steps for wrong WebServices.dll link
  docs/Security/CVE-2023-23397/attachments/CVE-2023-23397_screenshot4.png
  docs/Security/CVE-2023-23397/index.md
Labels: documentation, CVE-2023-23397 Script

#1587 Include ResultSize Unlimited to truly get all mailboxes
  docs/Security/CVE-2023-23397/index.md
Labels: documentation, CVE-2023-23397 Script

#1597 Improve AzureAD module check by getting rid of Get-InstalledModule call
  .build/cspell-words.txt
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
Labels: CVE-2023-23397 Script

#1600 Address Cleanup operation fixes
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
Labels: CVE-2023-23397 Script

#1601 Update FAQ for common questions
  docs/Security/CVE-2023-23397/FAQ.md
Labels: documentation, CVE-2023-23397 Script

#1603 Update docs format
  docs/Security/CVE-2023-23397/index.md
Labels: documentation, CVE-2023-23397 Script

#1604 Fix docs format again
  docs/Security/CVE-2023-23397/index.md
Labels: documentation, CVE-2023-23397 Script

#1607 Explicitly set comma as delimiter for export- and import-csv
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
Labels: CVE-2023-23397 Script

#1609 Prevent unexpected files from being passed via CleanupInfoFilePath parameter
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
Labels: CVE-2023-23397 Script

#1598 Use deep traversal search folder to improve performance
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
Labels: enhancement, Performance, CVE-2023-23397 Script

#1615 Fix wording for docs
  docs/Security/CVE-2023-23397/index.md
Labels: documentation, CVE-2023-23397 Script

#1621 Update CVE docs
  docs/Security/CVE-2023-23397/FAQ.md
  docs/Security/CVE-2023-23397/attachments/CVE-2023-23397_screenshot5.png
  docs/Security/CVE-2023-23397/attachments/CVE-2023-23397_screenshot6.png
  docs/Security/CVE-2023-23397/index.md
Labels: documentation, CVE-2023-23397 Script

#1619 Remove false positive reported during Audit mode
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
  docs/Security/CVE-2023-23397/FAQ.md
  docs/Security/CVE-2023-23397/index.md
Labels: CVE-2023-23397 Script

#1623 Handle Access Denied for DC Core Ratio feature
  Diagnostics/HealthChecker/Features/Get-ExchangeDcCoreRatio.ps1
Labels: Issue, Health Checker

#1626 Use shared TrustAnyCertificateCallback function in MonitorExchangeAuthCertificate script
  Admin/MonitorExchangeAuthCertificate/MonitorExchangeAuthCertificate.ps1
  Shared/EMailFunctions/Send-EwsMailMessage.ps1
Labels: MonitorExchangeAuthCertificate

#1629 Block PowerShell Core from running with the script
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
Labels: enhancement, CVE-2023-23397 Script

#1624 Add Certificate Based Authentication (CBA) support to CVE-2023-23397
  .build/cspell-words.txt
  Hybrid/Test-HMAEAS.ps1
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
  Shared/AzureFunctions/Get-NewJsonWebToken.ps1
  docs/Security/CVE-2023-23397/FAQ.md
  docs/Security/CVE-2023-23397/index.md
Labels: CVE-2023-23397 Script

#1632 Prevent Pester from running when only non PS1 files are changed
  .build/CodeFormatter.ps1
  .build/HelpFunctions/Get-CommitFilesOnBranch.ps1
  .build/Pester.ps1
  azure-pipeline-merge.yml
Labels: Build Process

#1633 Update Get-SimpleAuditLogReport.md
  docs/Admin/Get-SimpleAuditLogReport.md
Labels: documentation

#1636 Don't log already cleared properties as failures
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
Labels: CVE-2023-23397 Script

#1639 Asynchronous SearchFolder search feature is now GA
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
  docs/Security/CVE-2023-23397/FAQ.md
  docs/Security/CVE-2023-23397/index.md
Labels: CVE-2023-23397 Script

#1640 Resolving Autodiscover redirect block issue
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
Labels: CVE-2023-23397 Script
