Repository microsoft/CSS-Exchange, pull requests merged in 2023-01, with the labels that each got.

#1408 Fix display on Extended Protection in Health Checker
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityExtendedProtectionConfigState.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeInformation.ps1
  Diagnostics/HealthChecker/Features/Invoke-VulnerabilityReport.ps1
  Diagnostics/HealthChecker/Tests/DataCollection/E15/Exchange/GetApplicationHostConfig.config
  Diagnostics/HealthChecker/Tests/DataCollection/E15/Exchange/GetApplicationHostConfig.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E16/Exchange/GetApplicationHostConfig.config
  Diagnostics/HealthChecker/Tests/DataCollection/E16/Exchange/GetApplicationHostConfig.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/ExSetup1.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/GetApplicationHostConfig.config
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/GetApplicationHostConfig.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/GetApplicationHostConfig1.config
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/GetApplicationHostConfig2.config
  Diagnostics/HealthChecker/Tests/HealthChecker.E15.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.MockedCalls.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthCheckerTest.CommonMocks.NotPublished.ps1
Labels: Issue, Health Checker

#1409 No schema test on Edge Server
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityCve-2021-34470.ps1
Labels: Issue, Health Checker

#1414 Handle Localize Counter Failures
  Diagnostics/HealthChecker/Helpers/PerformanceCountersFunctions.ps1
Labels: Issue, Health Checker

#1415 Create custom Rule for Read-Host
  .build/CodeFormatter.ps1
  .build/CodeFormatterChecks/CustomRules.psm1
  Admin/CrossTenantMailboxMigrationValidation.ps1
  Databases/VSSTester/DiskShadow/Invoke-CreateDiskShadowFile.ps1
  Databases/VSSTester/DiskShadow/Invoke-RemoveExposedDrives.ps1
  Databases/VSSTester/ExchangeInformation/Get-DbToBackup.ps1
  Databases/VSSTester/VSSTester.ps1
  Diagnostics/ExTRA/ExTRA.ps1
  Diagnostics/ExTRA/ui.html
  Diagnostics/ExchangeLogCollector/ExchangeLogCollector.ps1
  Diagnostics/ExchangeLogCollector/Helpers/Enter-YesNoLoopAction.ps1
  Diagnostics/ManagedAvailabilityTroubleshooter/ManagedAvailabilityTroubleshooter.ps1
  M365/src/DLT365Groupsupgrade.ps1
  Security/src/EOMT.ps1
Labels: Work Item

#1417 Only check code format on changed files
  .build/CodeFormatter.ps1
Labels: Work Item

#1418 New Rule for Multiple Empty Lines
  .build/Build.ps1
  .build/CodeFormatter.ps1
  .build/CodeFormatterChecks/CheckMultipleEmptyLines.ps1
  .build/ValidateMerge.ps1
  Admin/CrossTenantMailboxMigrationValidation.ps1
  Databases/Compare-MailboxStatistics.ps1
  Databases/VSSTester/Logging/Get-WindowsEventLogs.ps1
  Databases/VSSTester/VSSTester.ps1
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-WmiObjectCriticalHandler.ps1
  Diagnostics/HealthChecker/Tests/HealthCheckerTest.CommonMocks.NotPublished.ps1
  Diagnostics/ManagedAvailabilityTroubleshooter/ManagedAvailabilityTroubleshooter.ps1
  Performance/ExPerfAnalyzer.ps1
  Performance/ExPerfWiz/ExPerfWiz.ps1
  Performance/ExPerfWiz/Set-ExPerfWiz.ps1
  PublicFolders/SourceSideValidations/Tests/MailEnabledFolder/Test-MailEnabledFolder.ps1
  Retention/Get-MRMDetails.ps1
  Security/src/EOMT.ps1
  Setup/.NotPublished/CopyMsiOnly.NotPublished.ps1
  Setup/.NotPublished/ScrubSetupLog.NotPublished.ps1
  Setup/CopyMissingDlls/DllMappings/DllMaper.NotPublished.ps1
  Setup/CopyMissingDlls/DllMappings/UpdateDllMappings.NotPublished.ps1
  Setup/SetExchAVExclusions/Set-ExchAVExclusions.ps1
  Setup/SetupAssist/Checks/LocalServer/Test-ExecutionPolicy.ps1
  Shared/Tests/Get-ServerPendingReboot.Tests.ps1
Labels: Work Item

#1421 Use target branch of PR instead of assuming origin/main
  .build/CodeFormatter.ps1
  .build/ValidateMerge.ps1
  azure-pipeline-merge.yml
Labels: Issue, Work Item

#1428 Build numbers for the January 2023 SU CVE check fixed
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityCveCheck.ps1
Labels: bug, Health Checker

#1427 Analyze the whole dependency tree for a script
  .build/Build.ps1
  .build/ValidateMerge.ps1
Labels: Work Item

#1426 Remove tasks from release pipeline
  .build/CodeFormatter.ps1
  azure-pipeline-release.yml
Labels: Work Item

#1431 Fix to display the SDP status in E19
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecuritySerializedDataSigningState.ps1
Labels: bug, High Priority, Health Checker

#1439 Updates on SerializedDataSigning feature
  Admin/MonitorExchangeAuthCertificate/MonitorExchangeAuthCertificate.ps1
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerKnownBuildIssues.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecuritySerializedDataSigningState.ps1
  docs/Diagnostics/HealthChecker/SerializedDataSigningCheck.md
Labels: Health Checker

#1441 Address warning in docs
  docs/Diagnostics/HealthChecker/SerializedDataSigningCheck.md
  mkdocs.yml
Labels: documentation

#1442 include extensions required
  mkdocs.yml
Labels: documentation

#1444 Create May 22 SU doc
  docs/Diagnostics/HealthChecker/May22SU.md
  mkdocs.yml
Labels: documentation, Health Checker

#1435 SetupAssist to use Get-ExchangeBuildVersionInformation
  Setup/SetupAssist/Checks/Domain/Test-ExchangeADSetupLevel.ps1
  Setup/SetupAssist/Checks/LocalServer/Test-InstallWatermark.ps1
  Setup/SetupAssist/Checks/UserContext/Test-UserGroupMemberOf.ps1
  Setup/SetupAssist/Checks/UserContext/Test-UserIsAdministrator.ps1
  Setup/SetupAssist/SetupAssist.ps1
  Setup/SetupLogReviewer/Checks/FindContext/Test-PrerequisiteCheck.ps1
  Setup/Shared/SetupLogReviewerFunctions.ps1
  Setup/Tests/SetupAssist.Tests.ps1
  Shared/Get-ExchangeBuildVersionInformation.ps1
  docs/Setup/SetupAssist/InstallWatermark.md
  mkdocs.yml
Labels: enhancement, Setup, Setup Log Reviewer, Setup Assist

#1448 Make HealthChecker certificate check work with broken SerializedDataSigning config
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/New-ExchangeAuthCertificate.ps1
  Admin/MonitorExchangeAuthCertificate/DataCollection/Get-ExchangeServerCertificate.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeServerCertificates.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Tests/DataCollection/GetExchangeCertificateBroken.xml
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Tests/Get-ExchangeServerCertificates.Tests.ps1
  Shared/CertificateFunctions/Import-ExchangeCertificateFromRawData.ps1
Labels: enhancement, Health Checker

#1446 Always use at least 2 cores for this logic
  .build/Pester.ps1
Labels: Build Process

#1451 HealthChecker Loadbalancer report shows 100 % load if no requests are available
  Diagnostics/HealthChecker/Features/Get-LoadBalancingReport.ps1
Labels: bug, Health Checker

#1452 Get-InternalTransportCertificate causes unhandled exception on Edge Transport servers
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeServerCertificates.ps1
  Shared/ActiveDirectoryFunctions/Get-InternalTransportCertificateFromServer.ps1
Labels: bug, Health Checker

#1453 Add known issues for Jan 2023 SU release
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerKnownBuildIssues.ps1
Labels: enhancement, Health Checker

#1460 Remove NET Core 2 Requirment and use code sign V2
  azure-pipeline-release.yml
Labels: Build Process

#1466 Emerging issues typo corrected
  docs/Emerging-Issues.md
Labels: documentation

#1467 KBs added to the Exchange emerging issues page
  docs/Emerging-Issues.md
Labels: documentation
