Repository microsoft/CSS-Exchange, pull requests merged in 2023-11, with the labels that each got.

#1883 Extended Protection and HC check documentation updated to reflect Nov23SU changes and linked to Microsoft Learn
  docs/Diagnostics/HealthChecker/DownloadDomainCheck.md
  docs/Diagnostics/HealthChecker/SerializedDataSigningCheck.md
  docs/Security/Extended-Protection.md
Labels: documentation

#1887 Don't use semicolons as line terminators enabled for code formatter.
  .build/Build.ps1
  .build/CodeFormatterChecks/CheckScriptFileHasBOM.ps1
  Admin/Find-AmbiguousSids.ps1
  Admin/Update-Engines.ps1
  Calendar/Check-SharingStatus.ps1
  Calendar/Get-CalendarDiagnosticObjectsSummary.ps1
  Calendar/Get-RBASummary.ps1
  Databases/Analyze-SpaceDump.ps1
  Diagnostics/AVTester/Start-SleepWithProgress.ps1
  Diagnostics/ExchangeLogCollector/RemoteScriptBlock/IO/Save-ServerInfoData.ps1
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerHybridInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Tests/Get-ExchangeConnectors.Tests.ps1
  Diagnostics/HealthChecker/HealthChecker.ps1
  Diagnostics/ManagedAvailabilityTroubleshooter/ManagedAvailabilityTroubleshooter.ps1
  PSScriptAnalyzerSettings.psd1
  Performance/ExPerfAnalyzer.ps1
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
  Security/src/EOMT.ps1
  Security/src/EOMTv2.ps1
  Security/src/ExchangeExtendedProtectionManagement/ConfigurationAction/Invoke-ConfigureMitigation.ps1
  Security/src/ExchangeExtendedProtectionManagement/ConfigurationAction/Invoke-RollbackIPFiltering.ps1
  Security/src/ExchangeExtendedProtectionManagement/ConfigurationAction/Invoke-ValidateMitigation.ps1
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Invoke-ExtendedProtectionTlsPrerequisitesCheck.ps1
  Shared/Get-ExtendedProtectionConfiguration.ps1
  Transport/Compute-TopExoRecipientsFromMessageTrace.ps1
Labels: Build Process

#1888 Bug fix for invalid date used during AuthCert renewal process
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/New-ExchangeAuthCertificate.ps1
  Admin/MonitorExchangeAuthCertificate/DataCollection/Get-ExchangeAuthCertificateStatus.ps1
  Admin/MonitorExchangeAuthCertificate/DataCollection/Tests/Get-ExchangeAuthCertificateStatus.Tests.ps1
  Admin/MonitorExchangeAuthCertificate/MonitorExchangeAuthCertificate.ps1
Labels: bug, MonitorExchangeAuthCertificate

#1897 Add High Performance (ConfigMgr) power plan detection to HC
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-PowerPlanSetting.ps1
Labels: enhancement, Health Checker, Ready for review
