Repository microsoft/CSS-Exchange, pull requests merged in 2023-12, with the labels that each got.

#1907 New View for IIS Settings
  Diagnostics/HealthChecker/Analyzer/Get-IISAuthenticationType.ps1
  Diagnostics/HealthChecker/Analyzer/Get-IPFilterSetting.ps1
  Diagnostics/HealthChecker/Analyzer/Get-URLRewriteRule.ps1
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerFrequentConfigurationIssues.ps1
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerIISInformation.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E15.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Scenarios.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Scenarios2.Tests.ps1
Labels: enhancement, Health Checker

#1734 Add script to verify permissions to Exchange property sets
  Admin/Test-ExchangePropertyPermissions/.gitignore
  Admin/Test-ExchangePropertyPermissions/GeneratePropertySetInfo.NotPublished.ps1
  Admin/Test-ExchangePropertyPermissions/Get-PropertySetInfo.ps1
  Admin/Test-ExchangePropertyPermissions/Test-ExchangePropertyPermissions.ps1
  Admin/Test-ExchangePropertyPermissions/Test-ExchangeSchema.ps1
  Shared/ActiveDirectoryFunctions/Get-ObjectTypeDisplayName.ps1
  docs/Admin/Test-ExchangePropertyPermissions.md
  mkdocs.yml
Labels: New Tool Request

#1916 Fix bug with NULL authLocation on unknown site location
  Diagnostics/HealthChecker/Analyzer/Get-IISAuthenticationType.ps1
Labels: Issue, Health Checker

#1911 Make the basic build process work on MacOS
  .build/Build.ps1
  .gitignore
Labels: Build Process
