Repository microsoft/CSS-Exchange, pull requests merged in 2023-07, with the labels that each got.

#1758 Proxy type check improved to prevent false-positives
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerExchangeInformation.ps1
Labels: bug, Health Checker

#1722 Replacement of #1546
  .build/cspell-words.txt
  Admin/Test-AMSI.ps1
  docs/Admin/Test-AMSI.md
Labels: Test AMSI, Ready for review

#1766 Make sure the return results is an array to allow .Count to work
  Security/src/ExchangeExtendedProtectionManagement/ExchangeExtendedProtectionManagement.ps1
Labels: Issue, Extended Protection

#1771 Address issue with null value for FullCounterName
  Diagnostics/HealthChecker/Features/Get-LoadBalancingReport.ps1
  Diagnostics/HealthChecker/HealthChecker.ps1
Labels: Issue, Health Checker

#1752 Changes to CTMM script proposed by PG after review
  Admin/CrossTenantMailboxMigrationValidation.ps1
  docs/Admin/CrossTenantMailboxMigrationValidation.md
Labels: New Feature/Check, Ready for review

#1778 Make CreateOAUTHToken a shared function
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
  Shared/AzureFunctions/Get-NewOAuthToken.ps1
Labels: Maintenance Update, Shared Function, CVE-2023-23397 Script, Ready for review

#1782 Set object type to array so .Count works
  Security/src/ExchangeExtendedProtectionManagement/ExchangeExtendedProtectionManagement.ps1
Labels: Issue, Health Checker
