Repository microsoft/CSS-Exchange, pull requests merged in 2023-04, with the labels that each got.

#1645 Don't include date filter in search folder criteria
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
Labels: CVE-2023-23397 Script

#1638 Remove AzureAD module dependencies
  .build/cspell-words.txt
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
  Shared/AzureFunctions/Convert-JsonWebTokenToObject.ps1
  Shared/AzureFunctions/Get-CloudServiceEndpoint.ps1
  Shared/AzureFunctions/Get-GraphAccessToken.ps1
  Shared/AzureFunctions/Get-NewS256CodeChallengeVerifier.ps1
  Shared/AzureFunctions/Invoke-GraphApiRequest.ps1
  Shared/Helpers/Start-LocalListener.ps1
  Shared/ScriptUpdateFunctions/Invoke-WebRequestWithProxyDetection.ps1
  docs/Security/CVE-2023-23397/index.md
Labels: CVE-2023-23397 Script

#1652 Search Script Update
  Search/Troubleshoot-ModernSearch/StoreQuery/Get-CacheFolderInformation.ps1
  Search/Troubleshoot-ModernSearch/StoreQuery/Get-MailboxIndexMessageStatistics.ps1
  Search/Troubleshoot-ModernSearch/StoreQuery/Get-MessageIndexState.ps1
  Search/Troubleshoot-ModernSearch/Write/Write-MailboxIndexMessageStatistics.ps1
Labels: enhancement, Issue, Search

#1660 Update logic improved to work with slightly renamed script files
  Shared/ScriptUpdateFunctions/Get-ScriptUpdateAvailable.ps1
Labels: enhancement, Shared Function

#1664 Add -SkipSearchFolderCreation switch
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
  docs/Security/CVE-2023-23397/index.md
Labels: CVE-2023-23397 Script

#1658 Add functionality to import valid Auth Certificates to Exchange servers where they're missing
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/Import-ExchangeAuthCertificateToServers.ps1
  Admin/MonitorExchangeAuthCertificate/DataCollection/Get-ExchangeAuthCertificateStatus.ps1
  Admin/MonitorExchangeAuthCertificate/DataCollection/Tests/Get-ExchangeAuthCertificateStatus.Tests.ps1
  Admin/MonitorExchangeAuthCertificate/MonitorExchangeAuthCertificate.ps1
Labels: New Feature/Check, MonitorExchangeAuthCertificate

#1669 Auto-update does no longer work due to newly introduced Invoke-WebRequestWithProxyDetection ParametersObjectparameter
  Shared/ScriptUpdateFunctions/Get-ScriptUpdateAvailable.ps1
  Shared/ScriptUpdateFunctions/Invoke-ScriptUpdate.ps1
Labels: bug, Shared Function

#1673 Log output improved to provide more context when troubleshooting web request scenarios
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
  Shared/AzureFunctions/Invoke-GraphApiRequest.ps1
  Shared/ScriptUpdateFunctions/Confirm-ProxyServer.ps1
  Shared/ScriptUpdateFunctions/Invoke-WebRequestWithProxyDetection.ps1
Labels: enhancement, CVE-2023-23397 Script
