Repository microsoft/CSS-Exchange, pull requests merged in 2023-05, with the labels that each got.

#1683 Update to Troubleshoot-ModernSearch
  Search/Troubleshoot-ModernSearch.ps1
  Search/Troubleshoot-ModernSearch/Exchange/Get-ActiveDatabasesOnServer.ps1
  Search/Troubleshoot-ModernSearch/Exchange/Get-MailboxInformation.ps1
  Search/Troubleshoot-ModernSearch/Exchange/Get-MailboxStatisticsOnDatabase.ps1
  Search/Troubleshoot-ModernSearch/Exchange/Get-SearchProcessState.ps1
  Search/Troubleshoot-ModernSearch/Helpers/Get-CategoryOffStatistics.ps1
  Search/Troubleshoot-ModernSearch/Helpers/Invoke-SearchServiceState.ps1
  Search/Troubleshoot-ModernSearch/StoreQuery/Get-StoreQueryBasicMailboxQueryContext.ps1
  Search/Troubleshoot-ModernSearch/StoreQuery/Get-StoreQueryBigFunnelPropertyNameMapping.ps1
  Search/Troubleshoot-ModernSearch/StoreQuery/Get-StoreQueryFolderInformation.ps1
  Search/Troubleshoot-ModernSearch/StoreQuery/Get-StoreQueryMailboxMessagesByCategory.ps1
  Search/Troubleshoot-ModernSearch/StoreQuery/Get-StoreQueryMessageIndexState.ps1
  Search/Troubleshoot-ModernSearch/StoreQuery/Get-StoreQueryQueryItemResult.ps1
  Search/Troubleshoot-ModernSearch/StoreQuery/Helpers/Get-CacheFolderInformation.ps1
  Search/Troubleshoot-ModernSearch/StoreQuery/Helpers/Get-IndexStateOfMessage.ps1
  Search/Troubleshoot-ModernSearch/StoreQuery/Helpers/Get-IndexingErrorMessage.ps1
  Search/Troubleshoot-ModernSearch/StoreQuery/Helpers/Get-MailboxMessagesForCategory.ps1
  Search/Troubleshoot-ModernSearch/StoreQuery/Helpers/Get-MessageInformationObject.ps1
  Search/Troubleshoot-ModernSearch/Write/Write-BasicMailboxInformation.ps1
  Search/Troubleshoot-ModernSearch/Write/Write-CheckSearchProcessState.ps1
  Search/Troubleshoot-ModernSearch/Write/Write-DataExport.ps1
  Search/Troubleshoot-ModernSearch/Write/Write-DisplayObjectInformation.ps1
  Search/Troubleshoot-ModernSearch/Write/Write-LogInformation.ps1
  Search/Troubleshoot-ModernSearch/Write/Write-LogsToZip.ps1
  Search/Troubleshoot-ModernSearch/Write/Write-MailboxStatisticsOnServer.ps1
  Search/Troubleshoot-ModernSearch/Write/Write-SearchProcessStateObject.ps1
  Search/Troubleshoot-ModernSearch/Write/WriteHelpers.ps1
  Shared/LoggerFunctions.ps1
  Shared/StoreQueryFunctions.ps1
Labels: enhancement, Search

#1689 May CU13 for Exchange 2019
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Main.Tests.ps1
  Shared/Get-ExchangeBuildVersionInformation.ps1
  Shared/Tests/Get-ExchangeBuildVersionInformation.Tests.ps1
Labels: Health Checker, Maintenance Update

#1693 Addressed CU13 being latest SU as well
  Shared/Get-ExchangeBuildVersionInformation.ps1
  Shared/Tests/Get-ExchangeBuildVersionInformation.Tests.ps1
Labels: Health Checker

#1695 Call out 2013 no longer has SU fixes coming
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerExchangeInformation.ps1
Labels: enhancement, Health Checker

#1696 Include Protocols name for Cipher Suites
  .build/cspell-words.txt
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecuritySettings.ps1
  Shared/TLS/Get-TlsCipherSuiteInformation.ps1
Labels: enhancement, Health Checker

#1697 Fixed a few issues with Troubleshoot-ModernSearch
  Search/Troubleshoot-ModernSearch.ps1
  Search/Troubleshoot-ModernSearch/StoreQuery/Get-StoreQueryFolderInformation.ps1
Labels: enhancement, Issue, Search

#1699 CSS-Exchange download statistics added and logo changed
  README.md
  docs/images/MicrosoftLogo.svg
  mkdocs.yml
Labels: documentation

#1701 Known issue with Extended Protection and modern Public Folders added
  docs/Security/Extended-Protection.md
  mkdocs.yml
Labels: documentation, Extended Protection

#1704 Replace MkDocs default logo and add download statistics label
  README.md
  docs/Images/MicrosoftLogo.svg
  mkdocs.yml
Labels: documentation

#1705 Extended Protection documentation formatting updated
  docs/Security/Extended-Protection.md
Labels: documentation, Extended Protection

#1708 Another docs format adjustment to improve EP documentation
  docs/Security/CVE-2023-23397/index.md
  docs/Security/Extended-Protection.md
Labels: documentation, Extended Protection

#1709 Detect if mailbox is full as that blocks indexing
  Search/Troubleshoot-ModernSearch/Write/Write-BasicMailboxInformation.ps1
Labels: enhancement, Search

#1676 WhatIf logic improved as discussed during code review
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/Add-ADUserToLocalGroup.ps1
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/Build-ExchangeAuthCertificateManagementAccount.ps1
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/Copy-ScriptToExchangeDirectory.ps1
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/Export-ExchangeAuthCertificate.ps1
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/New-AuthCertificateManagementAccount.ps1
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/New-AuthCertificateMonitoringLogFolder.ps1
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/New-ExchangeAuthCertificate.ps1
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/Register-AuthCertificateRenewalTask.ps1
  Admin/MonitorExchangeAuthCertificate/DataCollection/Get-ExchangeAuthCertificateStatus.ps1
  Admin/MonitorExchangeAuthCertificate/MonitorExchangeAuthCertificate.ps1
Labels: enhancement, MonitorExchangeAuthCertificate

#1716 Handle Failed to find adapterConfiguration in HC
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-HardwareInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-NetworkingInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-OperatingSystemInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-PageFileInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-ServerOperatingSystemVersion.ps1
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-WmiObjectCriticalHandler.ps1
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Get-ExchangeServerIPs.ps1
  Shared/Get-AllNicInformation.ps1
  Shared/Get-WmiObjectHandler.ps1
Labels: Issue, Health Checker

#1718 Have HTML Report use OutputFilePath directory
  Diagnostics/HealthChecker/Features/Get-HtmlServerReport.ps1
  Diagnostics/HealthChecker/HealthChecker.ps1
Labels: Issue, Health Checker, Ready for review

#1720 So when registry keys aren't set for AllowInsecureRenego Keys
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-OperatingSystemRegistryValues.ps1
Labels: bug, Health Checker

#1713 Improve credential validation as the display output is misleading if script runs against Exchange on-premises, trying to locate Autodiscover
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
  Shared/ActiveDirectoryFunctions/Test-ADCredentials.ps1
Labels: CVE-2023-23397 Script, Ready for review

#1725 Fix bug with determining error indexing value
  Shared/ErrorMonitorFunctions.ps1
Labels: Shared Function

#1730 CVE-2023-23397.ps1 VersionsUrl wasn't called in each case when performing an auto-update
  Security/src/CVE-2023-23397/CVE-2023-23397.ps1
Labels: bug, CVE-2023-23397 Script, Ready for review

#1726 Improve Get-IISModules function to work properly when executed against a remote server
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-ExchangeServerIISSettings.ps1
  Shared/IISFunctions/Get-IISModules.ps1
  Shared/Tests/Data/E16_applicationHost_Default.config
  Shared/Tests/Data/E16_applicationHost_Mixed.config
  Shared/Tests/Data/E19_applicationHost_Default.config
  Shared/Tests/Data/acs_Test-SignedBy3rdParty.xml
  Shared/Tests/Data/acs_exppw.xml
  Shared/Tests/Data/acs_kerbauth.xml
  Shared/Tests/Get-IISModules.Tests.ps1
Labels: bug, Shared Function, Ready for review
