Repository microsoft/CSS-Exchange, pull requests merged in 2023-08, with the labels that each got.

#1789 Replace wrong quotes in HC Get-HealthCheckerData function
  Diagnostics/HealthChecker/Features/Get-HealthCheckerData.ps1
Labels: bug, Health Checker, Ready for review

#1783 Add OICE ExchAVExclusion
  Diagnostics/AVTester/Test-ExchAVExclusions.ps1
  Setup/SetExchAVExclusions/Set-ExchAVExclusions.ps1
  Shared/Get-ExchAVExclusions.ps1
  docs/Diagnostics/Test-ExchAVExclusions.md
  docs/Setup/Set-ExchAVExclusions.md
Labels: Ready for review

#1794 Aug SU Release
  .build/cspell-words.txt
  .build/cspell.json
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityCve-2023-21709.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityCveCheck.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecuritySettings.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeAES256CBCDetails.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeInformation.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E15.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Main.Tests.ps1
  Security/src/CVE-2023-21709/CVE-2023-21709.ps1
  Security/src/CVE-2023-21709/ConfigurationAction/Invoke-ConfigureMitigation.ps1
  Security/src/CVE-2023-21709/ConfigurationAction/Invoke-Rollback.ps1
  Security/src/CVE-2023-21709/WriteFunctions.ps1
  Shared/Get-ExchangeBuildVersionInformation.ps1
  docs/Security/CVE-2023-21709.md
  mkdocs.yml
Labels: Maintenance Update

#1801 Make sure we invoke actions in remote context correctly
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeAES256CBCDetails.ps1
Labels: Issue, Health Checker

#1804 Allow Get-EventLogLevel to force reconnect with loop
  Shared/Confirm-ExchangeShell.ps1
Labels: Issue, Health Checker

#1806 CVE-2023-21709 wording in disclaimer updated
  Security/src/CVE-2023-21709/CVE-2023-21709.ps1
Labels: Security, Maintenance Update, Ready for review, CVE-2023-21709 Script

#1817 Moved Get-ExtendedProtectionConfiguration to shared folder
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeInformation.ps1
  Security/src/ExchangeExtendedProtectionManagement/ConfigurationAction/Invoke-ConfigureExtendedProtection.ps1
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Get-ExtendedProtectionPrerequisitesCheck.ps1
  Shared/Get-ExtendedProtectionConfiguration.ps1
  Shared/Tests/ExtendedProtection/Data/E15_Configured_Both_ApplicationHost.config
  Shared/Tests/ExtendedProtection/Data/E15_Configured_Cas_ApplicationHost.config
  Shared/Tests/ExtendedProtection/Data/E15_Configured_Mbx_ApplicationHost.config
  Shared/Tests/ExtendedProtection/Data/E15_NotConfigured_Both_ApplicationHost.config
  Shared/Tests/ExtendedProtection/Data/E15_NotConfigured_Cas_ApplicationHost.config
  Shared/Tests/ExtendedProtection/Data/E15_NotConfigured_Mbx_ApplicationHost.config
  Shared/Tests/ExtendedProtection/Data/E16_Configured_ApplicationHost.config
  Shared/Tests/ExtendedProtection/Data/E16_Configured_IPFilter_ApplicationHost.config
  Shared/Tests/ExtendedProtection/Data/E16_NotConfigured_ApplicationHost.config
  Shared/Tests/ExtendedProtection/Data/E19_Configured_ApplicationHost.config
  Shared/Tests/ExtendedProtection/Data/E19_Configured_IPFilter_ApplicationHost.config
  Shared/Tests/ExtendedProtection/Data/E19_MisConfigured_ApplicationHost.config
  Shared/Tests/ExtendedProtection/Data/E19_NotConfigured_ApplicationHost.config
  Shared/Tests/ExtendedProtection/Data/GetAllTlsSettings-AllTlsSettingsDefault.xml
  Shared/Tests/ExtendedProtection/Data/GetAllTlsSettings-SchUseStrongCryptoConfigured.xml
  Shared/Tests/ExtendedProtection/Data/GetAllTlsSettings-TlsSettingsMisconfigured.xml
  Shared/Tests/ExtendedProtection/Data/GetCommand.xml
  Shared/Tests/ExtendedProtection/Get-ExtendedProtectionConfiguration.Tests.ps1
Labels: Work Item

#1818 HealthChecker HSTS check
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerFrequentConfigurationIssues.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-IISWebSite.ps1
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/IIS/DefaultWebSite_web2.config
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/IIS/GetWebSite1.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/IIS/GetWebSite_DefaultWebSite1.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/IIS/GetWebSite_ExchangeBackEnd1.xml
  Diagnostics/HealthChecker/Tests/HealthChecker.E15.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Scenarios.Tests.ps1
Labels: Health Checker, New Feature/Check

#1819 Token Cache Module Update
  Security/src/CVE-2023-21709/CVE-2023-21709.ps1
  Security/src/CVE-2023-21709/ConfigurationAction/Invoke-ConfigureMitigation.ps1
  Security/src/CVE-2023-21709/ConfigurationAction/Invoke-Rollback.ps1
  Security/src/CVE-2023-21709/ConfigurationAction/Invoke-TokenCacheModuleAction.ps1
  Security/src/CVE-2023-21709/WriteFunctions.ps1
  docs/Security/CVE-2023-21709.md
Labels: Security
