Repository microsoft/CSS-Exchange, pull requests merged in 2023-10, with the labels that each got.

#1841 Show more info for data serialization signing when not set
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecuritySerializedDataSigningState.ps1
Labels: enhancement, Health Checker

#1843 Handle Write-Error in Get-WmiObjectCriticalHandler to avoid reports
  Diagnostics/HealthChecker/Features/Get-HealthCheckerData.ps1
  Diagnostics/HealthChecker/HealthChecker.ps1
Labels: Issue, Health Checker

#1842 Health Checker detects multiple dynamic distribution groups system objects for public folder mailboxes
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerOrganizationInformation.ps1
  Diagnostics/HealthChecker/DataCollection/OrganizationInformation/Get-OrganizationInformation.ps1
  Diagnostics/HealthChecker/Tests/DataCollection/E15/Exchange/GetDynamicDistributionGroupPfMailboxes.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E16/Exchange/GetDynamicDistributionGroupPfMailboxes.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/GetDynamicDistributionGroupPfMailboxes.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/GetDynamicDistributionGroupPfMailboxes1.xml
  Diagnostics/HealthChecker/Tests/HealthChecker.E15.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.MockedCalls.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthCheckerTest.CommonMocks.NotPublished.ps1
Labels: enhancement, Health Checker, New Feature/Check

#1840 Collect the virtual directory information in HC
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerExchangeInformation.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityCve-2021-1730.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeVirtualDirectories.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.MockedCalls.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthCheckerTest.CommonMocks.NotPublished.ps1
Labels: enhancement, Health Checker

#1852 Show TokenCacheModule result in HTML report
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerIISInformation.ps1
Labels: Health Checker

#1855 Improve IIS module handling on legacy OS
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityIISModules.ps1
  Shared/IISFunctions/Get-IISModules.ps1
  Shared/Tests/Get-IISModules.Tests.ps1
Labels: bug, Health Checker, Ready for review

#1857 Address not thrown Get-DynamicDistributionGroup error
  Diagnostics/HealthChecker/DataCollection/OrganizationInformation/Get-OrganizationInformation.ps1
Labels: Issue, Health Checker

#1869 Addressed Pester Failure due to Expired Auth Cert
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Main.Tests.ps1
Labels: bug, Health Checker, Build Process

#1862 latest version of PSScriptAnalyzer
  .build/CodeFormatter.ps1
Labels: Build Process
