Repository microsoft/CSS-Exchange, pull requests merged in 2023-02, with the labels that each got.

#1473 Throw if we can't find in the install path for CopyMissingDlls
  Setup/CopyMissingDlls/CopyMissingDlls.ps1
Labels: Setup

#1478 Test-ScriptUpdate added to Update-Engines.ps1 script
  Admin/Update-Engines.ps1
  docs/Admin/Update-Engines.md
Labels: documentation, New Feature/Check, Maintenance Update

#1482 Add Rule to prevent Clear-Host from being used in Scripts
  .build/CodeFormatterChecks/CustomRules.psm1
  Admin/Get-EASMailboxLogs.ps1
  Databases/VSSTester/VSSTester.ps1
Labels: Work Item

#1483 Last of HC class removed
  Diagnostics/HealthChecker/Analyzer/Add-AnalyzedResultInformation.ps1
  Diagnostics/HealthChecker/Analyzer/Get-DisplayResultsGroupingKey.ps1
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerEngine.ps1
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerHardwareInformation.ps1
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerNicSettings.ps1
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerOsInformation.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityCve-2020-1147.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Tests/Get-FIPFSScanEngineVersionState.Tests.ps1
  Diagnostics/HealthChecker/HealthChecker.ps1
  Diagnostics/HealthChecker/Helpers/Class.ps1
  Diagnostics/HealthChecker/Tests/HealthCheckerTests.ImportCode.NotPublished.ps1
  Diagnostics/HealthChecker/Writers/Write-ResultsToScreen.ps1
  Shared/Get-NETFrameworkVersion.ps1
  Shared/Tests/Get-NETFrameworkVersion.Tests.ps1
Labels: enhancement, Health Checker

#1476 Add feature to send out an email when an Auth Certificate renewal action was performed
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/New-ExchangeAuthCertificate.ps1
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/Register-AuthCertificateRenewalTask.ps1
  Admin/MonitorExchangeAuthCertificate/MonitorExchangeAuthCertificate.ps1
  Shared/EMailFunctions/Send-EwsMailMessage.ps1
Labels: New Feature/Check, MonitorExchangeAuthCertificate

#1488 HealthChecker February 2023 SU release
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerKnownBuildIssues.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityCveCheck.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecuritySerializedDataSigningState.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E15.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Main.Tests.ps1
  Shared/Get-ExchangeBuildVersionInformation.ps1
  docs/Diagnostics/HealthChecker/SerializedDataSigningCheck.md
Labels: Health Checker, Maintenance Update

#1490 Include ErrorAction Stop for Get-SmbServerConfiguration
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-Smb1ServerSettings.ps1
Labels: Issue, Health Checker

#1492 Some documentation updates
  docs/Admin/MonitorExchangeAuthCertificate.md
  docs/Emerging-Issues.md
Labels: documentation

#1495 Reduce size of Health Checker XML Output
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-ExchangeAppPoolsInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-ExchangeServerIISSettings.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-IISWebApplication.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-IISWebSite.ps1
  Diagnostics/HealthChecker/Features/Get-HealthCheckerData.ps1
  Shared/IISFunctions/Get-ApplicationHostConfig.ps1
Labels: enhancement, Health Checker

#1497 Fix typo with CmdletBinding
  M365/src/DLT365Groupsupgrade.ps1
Labels: Issue

#1493 Use Get-Website to query the website id
  Diagnostics/HealthChecker/Features/Get-LoadBalancingReport.ps1
Labels: Issue, Health Checker

#1503 Include known issues for Feb23SU
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerKnownBuildIssues.ps1
Labels: enhancement, Health Checker

#1505 Place Get-HotFix in try catch block
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-OperatingSystemInformation.ps1
Labels: Issue, Health Checker

#1508 BinSearchFolder false-positive caused by PR 1495
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerFrequentConfigurationIssues.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeRegistryValues.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-ExchangeServerIISSettings.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-IISWebApplication.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-IISWebSite.ps1
Labels: bug, Health Checker

#1516 AntiVirus exclusions adjusted based on our latest recommendations
  Shared/Get-ExchAVExclusions.ps1
Labels: Security, Shared Function

#1512 Confirm-ExchangeShell function improved to work on management server with SerializedDataSigning turned on
  Shared/Confirm-ExchangeManagementShell.ps1
  Shared/Confirm-ExchangeShell.ps1
Labels: bug, Shared Function

#1523 Minor adjustments to Confirm-ExchangeShell and SerializedDataSigning
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecuritySerializedDataSigningState.ps1
  Shared/Confirm-ExchangeShell.ps1
Labels: bug, Shared Function
