Repository microsoft/CSS-Exchange, pull requests merged in 2024-06, with the labels that each got.

#2095 Add back pressure detection in Health Checker
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerExchangeInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeInformation.ps1
  Diagnostics/HealthChecker/Tests/DataCollection/E15/Exchange/GetExchangeDiagnosticInfo_ADTopVariantConfiguration.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E15/Exchange/GetExchangeDiagnosticInfo_EdgeTransportResourceThrottling.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E16/Exchange/GetExchangeDiagnosticInfo_ADTopVariantConfiguration.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E16/Exchange/GetExchangeDiagnosticInfo_EdgeTransportResourceThrottling.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/GetExchangeDiagnosticInfo_ADTopVariantConfiguration.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/GetExchangeDiagnosticInfo_ADTopVariantConfiguration1.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/GetExchangeDiagnosticInfo_EdgeTransportResourceThrottling.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/GetExchangeDiagnosticInfo_EdgeTransportResourceThrottling1.xml
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Scenarios.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.MockedCalls.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthCheckerTest.CommonMocks.NotPublished.ps1
  Shared/Get-ExchangeDiagnosticInformation.ps1
  Shared/Get-ExchangeSettingOverride.ps1
Labels: enhancement, Health Checker, New Feature/Check

#2100 ExchangeExtendedProtectionManagement.ps1 shows SystemTlsVersions instead of SystemDefaultTlsVersions
  Security/src/ExchangeExtendedProtectionManagement/ExchangeExtendedProtectionManagement.ps1
Labels: bug, Extended Protection

#2094 Handle list writers starting at different index
  Databases/VSSTester/Logging/Get-VSSWriter.ps1
Labels: Databases, Issue

#2089 Handle exception in write to screen for Health Checker Report
  Diagnostics/HealthChecker/Writers/Write-Functions.ps1
  Diagnostics/HealthChecker/Writers/Write-ResultsToScreen.ps1
Labels: Issue, Health Checker

#2088 Add Server Member Check on the Exchange Server for AD Membership and Local Administrator
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerExchangeInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeInformation.ps1
  Diagnostics/HealthChecker/Tests/DataCollection/E15/Exchange/GetADPrincipalGroupMembership.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E16/Exchange/GetADPrincipalGroupMembership.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E16/Exchange/GetLocalGroupMember.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/GetADPrincipalGroupMembership.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/GetADPrincipalGroupMembership2.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/GetLocalGroupMember.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/GetLocalGroupMember2.xml
  Diagnostics/HealthChecker/Tests/HealthChecker.E15.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Scenarios.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthCheckerTest.CommonMocks.NotPublished.ps1
  Shared/ActiveDirectoryFunctions/Get-ExchangeOtherWellKnownObjects.ps1
  docs/Diagnostics/HealthChecker/ExchangeComputerMembership.md
  mkdocs.yml
Labels: Health Checker, New Feature/Check

#2102 Include "-ErrorAction Stop" to Get-LocalGroupMember
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeInformation.ps1
Labels: Issue, Health Checker

#2111 Addressed typo due to new spell check version update
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecuritySettings.ps1
Labels: Health Checker, Build Process

#2109 Health Checker - IIS Information showing NULL Certificate
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerIISInformation.ps1
Labels: Issue, Health Checker

#2117 Add additional information to let admins know how to get the service display name
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerExchangeInformation.ps1
Labels: enhancement, Health Checker

#2118 Adjusted sentence wording
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerExchangeInformation.ps1
Labels: Health Checker
