Repository microsoft/CSS-Exchange, pull requests merged in 2024-12, with the labels that each got.

#2234 Improve hybrid transport certificate testing
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerFrequentConfigurationIssues.ps1
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerHybridInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeConnectors.ps1
Labels: Enhancement, Health Checker, Ready for review

#2240 Check for invalid IanaTimeZoneMappings.xml added
  .build/cspell-words.txt
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerFrequentConfigurationIssues.ps1
  Diagnostics/HealthChecker/Analyzer/Test-IanaTimeZoneMapping.ps1
  Diagnostics/HealthChecker/Analyzer/Tests/DataCollection/IanaTimeZoneMappings.xml
  Diagnostics/HealthChecker/Analyzer/Tests/DataCollection/IanaTimeZoneMappings_broken.xml
  Diagnostics/HealthChecker/Analyzer/Tests/Test-IanaTimeZoneMapping.Tests.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeInformation.ps1
Labels: Health Checker

#2243 Computer Membership Fix update
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerExchangeInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeInformation.ps1
  docs/Diagnostics/HealthChecker/ExchangeComputerMembership.md
Labels: Issue, Health Checker, Do not merge

#2246 Address math rounding issue for dynamic memory detection
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerHardwareInformation.ps1
Labels: Issue, Health Checker

#2248 Check for 0 entries in list before trying to loop thru it
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerExchangeInformation.ps1
Labels: Issue, Health Checker

#2253 Add known issue for transport pickup directory
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerExchangeInformation.ps1
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerKnownBuildIssues.ps1
  Diagnostics/HealthChecker/Analyzer/Tests/Invoke-AnalyzerKnownBuildIssues.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Main.Tests.ps1
Labels: Enhancement, Health Checker

#2244 New script to automate IanaTimeZoneMappings.xml fix
  Admin/Remove-DuplicateEntriesFromIanaMappings.ps1
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerFrequentConfigurationIssues.ps1
  Shared/Tests/ValidatorFunctions/Data/IanaTimeZoneMappings.xml
  Shared/Tests/ValidatorFunctions/Data/IanaTimeZoneMappings_broken.xml
  Shared/Tests/ValidatorFunctions/Test-IanaTimeZoneMapping.Tests.ps1
  Shared/ValidatorFunctions/Test-IanaTimeZoneMapping.ps1
  docs/Admin/Remove-DuplicateEntriesFromIanaMappings.md
  mkdocs.yml
Labels: New Tool Request, Ready for review, Test Team
