Repository microsoft/CSS-Exchange, pull requests merged in 2024-01, with the labels that each got.

#1927 Address bug with HSTS detection with no ; in value
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-IISWebSite.ps1
Labels: Issue, Health Checker

#1942 Health Checker Web Proxy Update
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerOsInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-HttpProxySetting.ps1
Labels: Issue, Health Checker

#1944 Check for correct EWS InternalNLBBypassUrl on BE
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerExchangeInformation.ps1
Labels: enhancement, Health Checker, New Feature/Check

#1943 Exchange IIS Information Docs & HTML
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerIISInformation.ps1
  docs/Diagnostics/HealthChecker/IISInformation.md
  mkdocs.yml
Labels: documentation, enhancement, Health Checker

#1946 Check for incorrect virtual directory path
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerIISInformation.ps1
Labels: enhancement, Health Checker, New Feature/Check

#1947 Link to Exchange Extended Protection Docs article added
  docs/Security/ExchangeExtendedProtectionManagement.md
Labels: documentation, Extended Protection

#1949 Certificate check to make sure valid on IIS bindings
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerIISInformation.ps1
Labels: Health Checker, New Feature/Check

#1951 Improve Visual C++ Redistributables is out of date display
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerOsInformation.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E15.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Main.Tests.ps1
  Shared/VisualCRedistributableVersionFunctions.ps1
Labels: enhancement, Health Checker

#1933 Change from Write-SimpleLogFile to OutputOverrides on Set-ExchAVExclusions
  Setup/SetExchAVExclusions/Set-ExchAVExclusions.ps1
Labels: Test Team, Write Change

#1957 Include Query info in StoreCommonServices
  Diagnostics/ExTRA/Scenarios/Search.txt
Labels: Diagnostics

#1953 Noderunner Memory Limit Check
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerFrequentConfigurationIssues.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeApplicationConfigurationFileValidation.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeInformation.ps1
  Diagnostics/HealthChecker/Tests/DataCollection/E15/Exchange/EdgeTransport.exe.config
  Diagnostics/HealthChecker/Tests/DataCollection/E15/Exchange/GetExchangeApplicationConfigurationFileValidation.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E15/Exchange/noderunner.exe.config
  Diagnostics/HealthChecker/Tests/DataCollection/E16/Exchange/EdgeTransport.exe.config
  Diagnostics/HealthChecker/Tests/DataCollection/E16/Exchange/GetExchangeApplicationConfigurationFileValidation.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E16/Exchange/noderunner.exe.config
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/EdgeTransport.exe.config
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/EdgeTransport.exe1.config
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/GetExchangeApplicationConfigurationFileValidation.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/GetExchangeApplicationConfigurationFileValidation1.xml
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/noderunner.exe.config
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/noderunner.exe1.config
  Diagnostics/HealthChecker/Tests/HealthChecker.E15.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Scenarios.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.MockedCalls.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthCheckerTest.CommonMocks.NotPublished.ps1
  docs/Diagnostics/HealthChecker/NodeRunnerMemoryLimitCheck.md
  mkdocs.yml
Labels: enhancement, Health Checker, New Feature/Check

#1924 Make SSV validate PF content mailboxes
  PublicFolders/SourceSideValidations/Get-FolderData.ps1
  PublicFolders/SourceSideValidations/Get-IpmSubtree.ps1
  PublicFolders/SourceSideValidations/Get-Statistics.ps1
  PublicFolders/SourceSideValidations/SourceSideValidations.ps1
Labels: Public Folders

#1930 Remove permissions without piping
  PublicFolders/SourceSideValidations/Tests/Permission/Remove-InvalidPermission.ps1
Labels: Public Folders, Test Team, Write Change

#1967 Updated wording when EP is not configured
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityExtendedProtectionConfigState.ps1
Labels: Health Checker
