Repository microsoft/CSS-Exchange, pull requests merged in 2024-05, with the labels that each got.

#2084 Add NET Framework Support link to report
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerOsInformation.ps1
Labels: enhancement, Health Checker

#2082 Add HC Script Version to vulnerability report
  Diagnostics/HealthChecker/Features/Get-HealthCheckerData.ps1
  Diagnostics/HealthChecker/Features/Invoke-VulnerabilityReport.ps1
  Diagnostics/HealthChecker/Helpers/Get-ErrorsThatOccurred.ps1
Labels: enhancement, Health Checker

#2081 Address Encoding Issue on Chinese Traditional OS
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-ExchangeAppPoolsInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-ExchangeServerIISSettings.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-IISWebApplication.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-IISWebSite.ps1
  Diagnostics/HealthChecker/Features/Get-HealthCheckerData.ps1
  Diagnostics/HealthChecker/Helpers/Get-ExportedHealthCheckerFiles.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Scenarios.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Scenarios2.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthCheckerTest.CommonMocks.NotPublished.ps1
  Shared/Get-FileContentInformation.ps1
  Shared/IISFunctions/Get-ApplicationHostConfig.ps1
Labels: Issue, Health Checker

#2091 CalLogs Support for Export-Excel
  Calendar/CalLogHelpers/CalLogCSVFunctions.ps1
  Calendar/CalLogHelpers/CalLogExportFunctions.ps1
  Calendar/CalLogHelpers/CalLogInfoFunctions.ps1
  Calendar/CalLogHelpers/CreateTimelineRow.ps1
  Calendar/CalLogHelpers/ExcelModuleInstaller.ps1
  Calendar/CalLogHelpers/FindChangedPropFunctions.ps1
  Calendar/CalLogHelpers/Invoke-GetCalLogs.ps1
  Calendar/CalLogHelpers/Invoke-GetMailbox.ps1
  Calendar/CalLogHelpers/MeetingSummaryFunctions.ps1
  Calendar/CalLogHelpers/ShortClientNameFunctions.ps1
  Calendar/CalLogHelpers/TimelineFunctions.ps1
  Calendar/Get-CalendarDiagnosticObjectsSummary.ps1
  Calendar/Tests/ShortClientNameFunctions.Tests.ps1
  docs/Calendar/Get-CalendarDiagnosticObjectsSummary.md
Labels: Calendar

#2019 ExtendedProtectionManagement script fails when run against servers which are in a different (sub-)domain
  Security/src/ExchangeExtendedProtectionManagement/ConfigurationAction/Invoke-RollbackIPFiltering.ps1
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Get-ExchangeServerIPs.ps1
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Get-ExtendedProtectionPrerequisitesCheck.ps1
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Invoke-ExtendedProtectionTlsPrerequisitesCheck.ps1
  Security/src/ExchangeExtendedProtectionManagement/ExchangeExtendedProtectionManagement.ps1
  Security/src/Shared/Get-ProcessedServerList.ps1
Labels: Extended Protection, Ready for review, Test Team
