Repository microsoft/CSS-Exchange, pull requests merged in 2024-02, with the labels that each got.

#1972 Create Get File Content in Shared location
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerFrequentConfigurationIssues.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeApplicationConfigurationFileValidation.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeInformation.ps1
  Shared/Get-FileContentInformation.ps1
Labels: Work Item

#1974 Remove IIS BE Binding Check
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerIISInformation.ps1
Labels: Issue, Health Checker

#1969 Address issue with export issue to xml
  Diagnostics/HealthChecker/Features/Get-HealthCheckerData.ps1
Labels: Issue, Health Checker

#1971 Handle missing ExSetup on server
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerExchangeInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExSetupDetails.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeInformation.ps1
Labels: Issue, Health Checker

#1980 Only add key if not already in the list
  Diagnostics/HealthChecker/Analyzer/Get-IISAuthenticationType.ps1
  Diagnostics/HealthChecker/Analyzer/Get-IPFilterSetting.ps1
Labels: Issue, Health Checker

#1983 Prevent Divide By Zero
  Search/Troubleshoot-ModernSearch/Exchange/Get-MailboxStatisticsOnDatabase.ps1
Labels: bug, Search

#1984 EXO Send Connector Issue
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerFrequentConfigurationIssues.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E15.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Main.Tests.ps1
  docs/Diagnostics/HealthChecker/ExoConnectorCheck.md
  mkdocs.yml
Labels: Health Checker, New Feature/Check

#1989 Exchange 2019 CU14 Release
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerIISInformation.ps1
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerOsInformation.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityExtendedProtectionConfigState.ps1
  Diagnostics/HealthChecker/Tests/DataCollection/E19/Exchange/IIS/applicationHost1.config
  Security/src/ExchangeExtendedProtectionManagement/ConfigurationAction/Invoke-ConfigureExtendedProtection.ps1
  Security/src/ExchangeExtendedProtectionManagement/ConfigurationAction/Invoke-DisableExtendedProtection.ps1
  Security/src/ExchangeExtendedProtectionManagement/ConfigurationAction/Invoke-RollbackExtendedProtection.ps1
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Get-ExtendedProtectionPrerequisitesCheck.ps1
  Security/src/ExchangeExtendedProtectionManagement/ExchangeExtendedProtectionManagement.ps1
  Security/src/IISManagement/Get-ParameterString.ps1
  Security/src/IISManagement/Invoke-IISConfigurationManagerAction.ps1
  Security/src/IISManagement/Invoke-IISConfigurationRemoteAction.ps1
  Security/src/IISManagement/New-IISConfigurationAction.ps1
  Setup/SetupAssist/Checks/Domain/Test-ExchangeADSetupLevel.ps1
  Setup/Tests/SetupAssist.Tests.ps1
  Shared/Get-ExchangeBuildVersionInformation.ps1
  Shared/Get-ExtendedProtectionConfiguration.ps1
  Shared/Tests/ExtendedProtection/Data/E15_Configured_Both_ApplicationHost.config
  Shared/Tests/ExtendedProtection/Data/E15_Configured_Cas_ApplicationHost.config
  Shared/Tests/ExtendedProtection/Data/E15_Configured_Mbx_ApplicationHost.config
  Shared/Tests/ExtendedProtection/Data/E16_Configured_ApplicationHost.config
  Shared/Tests/ExtendedProtection/Data/E16_Configured_IPFilter_ApplicationHost.config
  Shared/Tests/ExtendedProtection/Data/E19_Configured_ApplicationHost.config
  Shared/Tests/ExtendedProtection/Data/E19_Configured_IPFilter_ApplicationHost.config
  Shared/Tests/ExtendedProtection/Data/E19_MisConfigured_ApplicationHost.config
  Shared/Tests/ExtendedProtection/Get-ExtendedProtectionConfiguration.Tests.ps1
  Shared/Tests/Get-ExchangeBuildVersionInformation.Tests.ps1
  docs/Security/ExchangeExtendedProtectionManagement.md
Labels: Health Checker, Setup Assist, Maintenance Update

#1995 Address Edge Server Issue with noderunner.exe.config
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerFrequentConfigurationIssues.ps1
  Shared/Get-FileContentInformation.ps1
Labels: Issue, Health Checker

#1996 Skip over Default Web Site PS for EP
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerExchangeInformation.ps1
Labels: Issue, Health Checker

#2000 TlsDomain only needs to be set if TlsAuthLevel is set to DomainValidation
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerFrequentConfigurationIssues.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Main.Tests.ps1
  docs/Diagnostics/HealthChecker/ExoConnectorCheck.md
Labels: Issue, Health Checker

#2001 handle 3rd IIS site not fully configured
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerIISInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-IISWebSite.ps1
Labels: Issue, Health Checker

#2006 Update ExchangeExtendedProtectionManagement.md
  docs/Security/ExchangeExtendedProtectionManagement.md
Labels: documentation

#2008 Reference to MonitorAuthCertificate added if EMS was not properly detected
  Security/src/ExchangeExtendedProtectionManagement/ExchangeExtendedProtectionManagement.ps1
Labels: Extended Protection, Ready for review

#1998 Able to run prerequisites check only
  Security/src/ExchangeExtendedProtectionManagement/ExchangeExtendedProtectionManagement.ps1
  docs/Security/ExchangeExtendedProtectionManagement.md
Labels: enhancement, Extended Protection, Test Team

#2021 Move example to the top
  docs/Security/ExchangeExtendedProtectionManagement.md
Labels: documentation
