Repository microsoft/CSS-Exchange, pull requests merged in 2024-10, with the labels that each got.

#2205 End Of Life now displayed for 2016/2019
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerExchangeInformation.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Main.Tests.ps1
Labels: Health Checker, P0, Pester

#2206 New script to retrieve folder statistics for mailboxes with large numbers of folders
  M365/Get-LargeMailboxFolderStatistics.ps1
  docs/M365/Get-LargeMailboxFolderStatistics.md
  mkdocs.yml
Labels: New Tool Request, In progress

#2211 CodeFormatter Rule Update - Include Operator to be lowercase
  .build/CodeFormatter.ps1
  .build/CodeFormatterChecks/CheckTokenTypeCasing.ps1
  Admin/MonitorExchangeAuthCertificate/DataCollection/Get-ExchangeAuthCertificateStatus.ps1
  Admin/MonitorExchangeAuthCertificate/DataCollection/Test-IsServerValidForAuthCertificateGeneration.ps1
  Calendar/Get-RBASummary.ps1
  Diagnostics/HealthChecker/Features/Get-LoadBalancingReport.ps1
  Diagnostics/ManagedAvailabilityTroubleshooter/ManagedAvailabilityTroubleshooter.ps1
  PublicFolders/Update-PublicFolderPermissions.ps1
  Security/src/Test-ProxyLogon.ps1
Labels: Build Process
