Repository microsoft/CSS-Exchange, pull requests merged in 2024-04, with the labels that each got.

#2057 HealthChecker documentation update
  docs/Diagnostics/HealthChecker/index.md
Labels: documentation, Health Checker

#2064 Add SuppressExtendedProtection Key
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerFrequentConfigurationIssues.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityExtendedProtectionConfigState.ps1
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-OperatingSystemRegistryValues.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.MockedCalls.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthCheckerTest.CommonMocks.NotPublished.ps1
Labels: enhancement, Health Checker

#2063 TLS to accept non zero values
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecuritySettings.ps1
  Shared/TLS/Get-AllTlsSettingsFromRegistry.ps1
Labels: Issue, Health Checker

#2070 April 2024 HU
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerKnownBuildIssues.ps1
  Shared/Get-ExchangeBuildVersionInformation.ps1
  Shared/Tests/Get-ExchangeBuildVersionInformation.Tests.ps1
Labels: Health Checker, Maintenance Update

#2075 Improve handling of ECC certificates in HealthChecker
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityExchangeCertificates.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeServerCertificates.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Tests/Get-ExchangeServerCertificates.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E15.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Main.Tests.ps1
Labels: enhancement, Health Checker

#2077 Update docs for Calendar scripts
  docs/Calendar/Check-SharingStatus.md
  docs/Calendar/Get-CalendarDiagnosticObjectsSummary.md
  docs/Calendar/Get-RBASummary.md
Labels: documentation
