Repository microsoft/CSS-Exchange, pull requests merged in 2025-08, with the labels that each got.

#2370 Include Exchange Server SE Build to Handle
  Admin/Test-AMSI.ps1
Labels: Issue

#2375 Update to 3P Script
  Hybrid/ConfigureExchangeHybridApplication/ConfigureExchangeHybridApplication.ps1
Labels: Enhancement, Issue

#2377 Temp change of Apr25HU to Apr25SU
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityCveCheck.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Main.Tests.ps1
  Shared/Get-ExchangeBuildVersionInformation.ps1
  Shared/Tests/Get-ExchangeBuildVersionInformation.Tests.ps1
Labels: Health Checker, Maintenance Update, P0

#2382 Improve logic in ResetFirstPartyServicePrincipalKeyCredentials mode
  Hybrid/ConfigureExchangeHybridApplication/ConfigureExchangeHybridApplication.ps1
  Shared/GraphApiFunctions/Remove-CertificateFromAzureServicePrincipal.ps1
Labels: Security

#2386 Prevent Older commits on PR blocking merge that new commits already overrides
  .build/ValidateMerge.ps1
Labels: Enhancement, Build Process

#2389 Remove Invoke-ScriptBlockHandler from Shared to avoid Health Checker from using it
  Admin/Remove-DuplicateEntriesFromIanaMappings.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-ExchangeServerIISSettings.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Invoke-JobExchangeInformationLocal.ps1
  Diagnostics/HealthChecker/Features/Get-HealthCheckerDataCollection.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E16.Main.Tests.ps1
  Diagnostics/HealthChecker/Tests/HealthCheckerTest.CommonMocks.NotPublished.ps1
  Security/src/ExchangeExtendedProtectionManagement/DataCollection/Get-ExtendedProtectionPrerequisitesCheck.ps1
  Shared/Get-ExSetupFileVersionInfo.ps1
  Shared/Get-FileContentInformation.ps1
  Shared/Get-ProcessedServerList.ps1
  Shared/IISFunctions/ExtendedProtection/Get-ExtendedProtectionConfiguration.ps1
  Shared/IISFunctions/Get-IISModules.ps1
  Shared/TLS/Get-AllTlsSettings.ps1
  Shared/TLS/Get-AllTlsSettingsFromRegistry.ps1
  Shared/TLS/Get-TlsCipherSuiteInformation.ps1
  Shared/Tests/Get-IISModules.Tests.ps1
  Shared/VisualCRedistributableVersionFunctions.ps1
Labels: Enhancement, Health Checker

#2395 Multi-Threaded PR Updates based off Review Smaller Changes
  Diagnostics/HealthChecker/Analyzer/Add-JobAnalyzerEngine.ps1
  Diagnostics/HealthChecker/Analyzer/Invoke-JobAnalyzerEngine.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityCveAddressedBySerializedDataSigning.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityOverrides.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Add-JobExchangeInformationCmdlet.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Add-JobExchangeInformationLocal.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Invoke-JobExchangeInformationCmdlet.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Invoke-JobExchangeInformationLocal.ps1
  Diagnostics/HealthChecker/DataCollection/OrganizationInformation/Add-JobOrganizationInformation.ps1
  Diagnostics/HealthChecker/DataCollection/OrganizationInformation/Invoke-JobOrganizationInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Add-JobHardwareInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Add-JobOperatingSystemInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-DotNetDllFileVersions.ps1
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Get-EventLogInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Invoke-JobHardwareInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ServerInformation/Invoke-JobOperatingSystemInformation.ps1
  Diagnostics/HealthChecker/Features/Get-HealthCheckerDataCollection.ps1
  Diagnostics/HealthChecker/Features/Get-HealthCheckerDataObject.ps1
  Diagnostics/HealthChecker/Features/Invoke-HealthCheckerMainReport.ps1
  Diagnostics/HealthChecker/HealthChecker.ps1
  Diagnostics/HealthChecker/Helpers/Invoke-DefaultConnectExchangeShell.ps1
  Shared/IISFunctions/ExtendedProtection/Get-ExtendedProtectionConfiguration.ps1
  Shared/IISFunctions/ExtendedProtection/Get-ExtendedProtectionConfigurationResult.ps1
  docs/Diagnostics/HealthChecker/index.md
Labels: Health Checker

#2396 Prevent the script from processing if ExchangeOnlineManagement module is loaded
  Hybrid/ConfigureExchangeHybridApplication/ConfigureExchangeHybridApplication.ps1
Labels: Ready for review

#2397 Adjust AcceptedDomain data structure to avoid large files
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerFrequentConfigurationIssues.ps1
  Diagnostics/HealthChecker/DataCollection/OrganizationInformation/Invoke-JobOrganizationInformation.ps1
Labels: Enhancement, Health Checker

#2398 Add ScriptBlock Injection to handle Invoke-RemotePipelineHandler
  Security/src/ConfigureFipFsTextExtractionOverrides/ConfigurationAction/Invoke-TextExtractionOverride.ps1
Labels: bug, Security

#2403 Handle null result from failing to connect to server with Invoke-Command
  Diagnostics/HealthChecker/Features/Get-HealthCheckerDataCollection.ps1
Labels: Issue, Health Checker
