Repository microsoft/CSS-Exchange, pull requests merged in 2025-04, with the labels that each got.

#2302 Update process for how Certificate and Connectors are collected and processed
  Diagnostics/HealthChecker/Analyzer/Get-ExchangeConnectorCustomObject.ps1
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerFrequentConfigurationIssues.ps1
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerHybridInformation.ps1
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerIISInformation.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Get-ExchangeCertificateCustomObject.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityExchangeCertificates.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeConnectors.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeServerCertificates.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Tests/Get-ExchangeCertificateCustomObject.Tests.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Tests/Get-ExchangeConnectorCustomObject.Tests.ps1
  Diagnostics/HealthChecker/DataCollection/OrganizationInformation/Get-OrganizationInformation.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.MockedCalls.Tests.ps1
  Shared/CertificateFunctions/ConvertTo-ExchangeCertificate.ps1
  Shared/CertificateFunctions/Get-ExchangeServerCertificateInformation.ps1
Labels: Enhancement, Health Checker

#2212 Improve Update-Engines.ps1 to not download the same file again
  Admin/Update-Engines.ps1
Labels: Enhancement, Security, Ready for review, Test Team

#2306 Update 'last' to 'oldest' for display on event logs range
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerOsInformation.ps1
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Scenarios.Tests.ps1
Labels: Enhancement, Health Checker

#2312 PSScriptAnalyzer module updated to 1.24
  .build/CodeFormatter.ps1
  .build/CodeFormatterChecks/CheckMultipleEmptyLines.ps1
  Admin/CrossTenantMailboxMigrationValidation.ps1
  Admin/MonitorExchangeAuthCertificate/ConfigurationAction/Build-ExchangeAuthCertificateManagementAccount.ps1
  Admin/MonitorExchangeAuthCertificate/DataCollection/Get-ExchangeAuthCertificateStatus.ps1
  Admin/MonitorExchangeAuthCertificate/MonitorExchangeAuthCertificate.ps1
  Admin/Test-AMSI.ps1
  Calendar/Check-SharingStatus.ps1
  Databases/VSSTester/Logging/Get-VSSWritersBefore.ps1
  Diagnostics/AVTester/Test-ExchAVExclusions.ps1
  Diagnostics/ExchangeLogCollector/ExchangeLogCollector.ps1
  Diagnostics/HealthChecker/Analyzer/Get-FilteredSettingOverrideInformation.ps1
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerExchangeInformation.ps1
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerHardwareInformation.ps1
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerHybridInformation.ps1
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerIISInformation.ps1
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerKnownBuildIssues.ps1
  Diagnostics/HealthChecker/Analyzer/Invoke-AnalyzerOsInformation.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityADV24199947.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityAMSIConfigState.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityCve-2021-1730.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityCve-2021-34470.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityCve-2024-49040.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityCveCheck.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityMitigationService.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecuritySettings.ps1
  Diagnostics/HealthChecker/Analyzer/Security/Invoke-AnalyzerSecurityVulnerability.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeAES256CBCDetails.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeDependentServices.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeInformation.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-ExchangeServerMaintenanceState.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/Get-FIPFSScanEngineVersionState.ps1
  Diagnostics/HealthChecker/DataCollection/ExchangeInformation/IISInformation/Get-IISWebSite.ps1
  Diagnostics/HealthChecker/DataCollection/OrganizationInformation/Get-SecurityCve-2022-21978.ps1
  Diagnostics/HealthChecker/Features/Get-LoadBalancingReport.ps1
  Diagnostics/HealthChecker/Features/Invoke-HealthCheckerMainReport.ps1
  Diagnostics/HealthChecker/Features/Invoke-VulnerabilityReport.ps1
  M365/MDO/MDOThreatPolicyChecker.ps1
  Outlook/Update-OutlookLink.ps1
  PublicFolders/Migration/Export-ModernPublicFolderStatistics.ps1
  Search/Troubleshoot-ModernSearch/Write/Write-BasicMailboxInformation.ps1
  Security/src/ExchangeExtendedProtectionManagement/ExchangeExtendedProtectionManagement.ps1
  Security/src/Shared/Invoke-XmlConfigurationRemoteAction.ps1
  Setup/FixInstallerCache/FixInstallerCache.ps1
  Setup/SetExchAVExclusions/Set-ExchAVExclusions.ps1
  Setup/SetupAssist/Checks/UserContext/Test-UserGroupMemberOf.ps1
  Setup/Shared/SetupLogReviewerLogic.ps1
  Shared/ActiveDirectoryFunctions/Get-ExchangeADSplitPermissionsEnabled.ps1
  Shared/CertificateFunctions/Get-ExchangeServerCertificateInformation.ps1
  Shared/Confirm-ExchangeManagementShell.ps1
  Shared/Confirm-ExchangeShell.ps1
  Shared/Get-NuGetPackage.ps1
  Shared/TLS/Get-AllTlsSettingsFromRegistry.ps1
Labels: Build Process

#2315 Fix table format
  docs/Hybrid/ConfigureExchangeHybridApplication.md
Labels: documentation, Issue

#2316 Handle error to get domain values for Cve-2022-21978 check
  Diagnostics/HealthChecker/DataCollection/OrganizationInformation/Get-SecurityCve-2022-21978.ps1
Labels: Issue, Health Checker

#2319 Minor ConfigureExchangeHybridApplication adjustments
  Diagnostics/HealthChecker/Tests/HealthChecker.E19.Main.Tests.ps1
  Hybrid/ConfigureExchangeHybridApplication/ConfigureExchangeHybridApplication.ps1
  mkdocs.yml
Labels: bug, documentation

#2309 Add clean up function to Update-Engines.ps1 script
  Admin/Update-Engines.ps1
  docs/Admin/Update-Engines.md
Labels: Enhancement
